Repository opencv/opencv_contrib, pull requests merged in 2018-12, with the labels that each got.

#1933 Fast Bilateral Solver bug fix
  modules/ximgproc/src/fbs_filter.cpp
Labels: bug, category: ximgproc

#1937 fix typo
  modules/ximgproc/src/selectivesearchsegmentation.cpp
Labels: bug, category: samples

#1936 linemod: add drawFeatures method
  modules/rgbd/include/opencv2/rgbd/linemod.hpp
  modules/rgbd/src/linemod.cpp
Labels: category: rgbd, feature

#1942 ovis: free camera yaw and fix shutdown sequence
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#1922 Update documentation of Tracking API
  modules/tracking/include/opencv2/tracking.hpp
  modules/tracking/include/opencv2/tracking/tracker.hpp
Labels: category: documentation, category: tracking

#1946 add cuda 10 support for opencv_nvcuvid
  modules/cudacodec/src/cuvid_video_source.hpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/precomp.hpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.hpp
Labels: bug, category: build/install, category: cuda

#1941 Implementation of Quasi Dense Stereo algorithm.
  modules/README.md
  modules/stereo/CMakeLists.txt
  modules/stereo/README.md
  modules/stereo/doc/stereo.bib
  modules/stereo/include/opencv2/stereo.hpp
  modules/stereo/include/opencv2/stereo/quasi_dense_stereo.hpp
  modules/stereo/samples/dense_disparity.cpp
  modules/stereo/samples/export_param_file.cpp
  modules/stereo/src/quasi_dense_stereo.cpp
  modules/stereo/tutorials/qds_export_parameters/qds_export_parameters.markdown
  modules/stereo/tutorials/qds_quasi_dense_stereo/qds_quasi_dense_stereo.markdown
  modules/stereo/tutorials/table_of_content_quasi_dense_stereo.markdown
Labels: category: stereo, feature

#1940 Add robust local optical flow (RLOF) implementations
  modules/optflow/CMakeLists.txt
  modules/optflow/doc/optflow.bib
  modules/optflow/include/opencv2/optflow.hpp
  modules/optflow/include/opencv2/optflow/rlofflow.hpp
  modules/optflow/perf/perf_rlof.cpp
  modules/optflow/src/rlof/berlof_invoker.hpp
  modules/optflow/src/rlof/geo_interpolation.cpp
  modules/optflow/src/rlof/geo_interpolation.hpp
  modules/optflow/src/rlof/plk_invoker.hpp
  modules/optflow/src/rlof/rlof_invoker.hpp
  modules/optflow/src/rlof/rlof_invokerbase.hpp
  modules/optflow/src/rlof/rlof_localflow.cpp
  modules/optflow/src/rlof/rlof_localflow.h
  modules/optflow/src/rlofflow.cpp
  modules/optflow/test/test_OF_accuracy.cpp
Labels: category: optflow, feature
