Repository opencv/opencv_contrib, pull requests merged in 2018-05, with the labels that each got.

#1642 Rename `near` to `zNear`
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#1634 remove bug when src is vector Point2i in FourierDescriptors
  modules/ximgproc/samples/fourier_descriptors_demo.cpp
  modules/ximgproc/samples/fourier_descriptors_demo.py
  modules/ximgproc/src/fourier_descriptors.cpp
  modules/ximgproc/test/test_fourier_descriptors.cpp
Labels: category: ximgproc

#1644 eliminate build warnings / fix bug in text module
  modules/datasets/CMakeLists.txt
  modules/surface_matching/src/hash_murmur64.hpp
  modules/text/src/ocr_hmm_decoder.cpp
  modules/ximgproc/src/seeds.cpp
Labels: category: build/install

#1645 Check if faces detected or not.
  modules/face/samples/sampleDetectLandmarks.cpp
Labels: category: face, category: samples
