Repository opencv/opencv_contrib, pull requests merged in 2018-07, with the labels that each got.

#1678 Some bugs in deriche and paillou filter
  modules/ximgproc/src/deriche_filter.cpp
  modules/ximgproc/src/paillou_filter.cpp
Labels: category: ximgproc

#1677 fix #1665 ChAruco board topology (nearestMarkerIdx) is sensitive to s…
  modules/aruco/src/charuco.cpp
  modules/aruco/test/test_charucodetection.cpp
Labels: bug, category: aruco

#1679 python3 compatible
  modules/xphoto/samples/color_balance_benchmark.py
Labels: category: samples, category: xphoto

#1672 run length morphology
  modules/ximgproc/README.md
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/include/opencv2/ximgproc/run_length_morphology.hpp
  modules/ximgproc/perf/perf_run_length_morphology.cpp
  modules/ximgproc/samples/run_length_morphology_demo.cpp
  modules/ximgproc/src/run_length_morphology.cpp
  modules/ximgproc/test/test_run_length_morphology.cpp
Labels: category: ximgproc, feature

#1682 xfeatures2d: throw CV_Error if not built with OPENCV_ENABLE_NONFREE
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/src/sift.cpp
  modules/xfeatures2d/src/surf.cpp
  modules/xfeatures2d/src/surf.cuda.cpp
  modules/xfeatures2d/src/surf.ocl.cpp
Labels: category: build/install

#1687 xfeatures2d: fix CUDA nonfree build
  modules/xfeatures2d/src/surf.cuda.cpp
Labels: category: build/install, category: cuda, category: xfeatures2d

#1688 xfeatures2d(test): disable tests with required non-free code
  modules/xfeatures2d/perf/perf_latch.cpp
  modules/xfeatures2d/perf/perf_surf.cpp
  modules/xfeatures2d/perf/perf_surf.cuda.cpp
  modules/xfeatures2d/perf/perf_surf.ocl.cpp
  modules/xfeatures2d/test/test_detectors.cpp
  modules/xfeatures2d/test/test_features2d.cpp
  modules/xfeatures2d/test/test_keypoints.cpp
  modules/xfeatures2d/test/test_rotation_and_scale_invariance.cpp
  modules/xfeatures2d/test/test_surf.cuda.cpp
  modules/xfeatures2d/test/test_surf.ocl.cpp
Labels: bug, category: xfeatures2d

#1692 build: eliminate GCC8 warnings
  modules/bgsegm/src/bgfg_gsoc.cpp
  modules/bioinspired/samples/OpenEXRimages_HDR_Retina_toneMapping.cpp
  modules/rgbd/src/linemod.cpp
  modules/sfm/src/libmv_light/CMakeLists.txt
Labels: category: build/install

#1695 text: do not calculate mean for empty angles list
  modules/text/src/erfilter.cpp
Labels: bug, category: text

#1693 Update bgfg_gmg.cpp
  modules/bgsegm/src/bgfg_gmg.cpp
Labels: bug, category: bgsegm

#1697 Add python binding and sample for LSD
  modules/line_descriptor/include/opencv2/line_descriptor/descriptor.hpp
  modules/line_descriptor/misc/python/pyopencv_LSDDetector.hpp
  samples/python2/lsd_lines_extraction.py
Labels: category: line_descriptor, feature

#1696 fix densecensus when computing stereo matching
  modules/stereo/src/stereo_binary_bm.cpp
  modules/stereo/src/stereo_binary_sgbm.cpp
Labels: bug, category: stereo
