Repository opencv/opencv_contrib, pull requests merged in 2018-09, with the labels that each got.

#1747 face: update FacemarkAAMImpl::delaunay() implementation
  modules/face/src/facemarkAAM.cpp
Labels: category: face

#1748 ovis: ensure that compositors are applied to all owned render targets
  modules/ovis/src/ovis.cpp
Labels: bug, category: ovis

#1753 face: fix I/O for 'splitr' structure on 32-bit platforms
  modules/face/src/face_alignmentimpl.hpp
  modules/face/src/getlandmarks.cpp
  modules/face/src/trainFacemark.cpp
Labels: bug, category: face

#1758 ovis: Camera - allow manually setting zNear and zFar
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1750 Oil painting effect
  modules/xphoto/doc/xphoto.bib
  modules/xphoto/include/opencv2/xphoto.hpp
  modules/xphoto/include/opencv2/xphoto/oilpainting.hpp
  modules/xphoto/samples/oil.cpp
  modules/xphoto/src/oilpainting.cpp
  modules/xphoto/test/test_oil_painting.cpp
  modules/xphoto/tutorials/Images/baboon.jpg
  modules/xphoto/tutorials/Images/baboon_oil_painting_effect.jpg
  modules/xphoto/tutorials/oil_painting_effect.markdown
Labels: category: ximgproc, feature

#1769 solves I1767
  modules/sfm/src/libmv_light/libmv/correspondence/nRobustViewMatching.h
Labels: bug, category: build/install, category: sfm

#1770 Fix MSVC warnings
  modules/rgbd/src/odometry.cpp
Labels: category: build/install

#1772 Fixed cnn_3dobj module build
  modules/cnn_3dobj/test/test_cnn_3dobj_feature_extract.cpp
Labels: category: cnn_3dobj

#1774 cmake: move Matlab scripts to opencv_contrib
  modules/matlab/CMakeLists.txt
  modules/matlab/cmake/OpenCVFindMatlab.cmake
  modules/matlab/cmake/hooks/STATUS_DUMP_EXTRA.cmake
  modules/matlab/cmake/init.cmake
Labels: category: build/install, category: matlab

#1785 ovis: fix setCompositors if frameSrc == rWin
  modules/ovis/src/ovis.cpp
Labels: bug, category: ovis

#1789 Oillink
  modules/xphoto/tutorials/images/baboon.jpg
  modules/xphoto/tutorials/images/baboon_oil_painting_effect.jpg
Labels: category: documentation, category: ximgproc

#1788 rename filename typo
  modules/ximgproc/perf/perf_joint_bilateral_filter.cpp
Labels: category: ximgproc, test

#1793 Fixed or disabled some warnings in several cvv, ovis and sfm modules
  modules/cvv/CMakeLists.txt
  modules/cvv/src/gui/call_window.hpp
  modules/cvv/src/gui/main_call_window.hpp
  modules/cvv/src/gui/overview_group_subtable.hpp
  modules/cvv/src/qtutil/filter/diffFilterWidget.hpp
  modules/cvv/src/qtutil/filter/overlayfilterwidget.hpp
  modules/cvv/src/qtutil/matchview/cvvkeypoint.hpp
  modules/cvv/src/qtutil/matchview/cvvmatch.hpp
  modules/cvv/src/qtutil/matchview/keypointmanagement.hpp
  modules/cvv/src/qtutil/matchview/keypointselectionselector.hpp
  modules/cvv/src/qtutil/matchview/matchmanagement.hpp
  modules/cvv/src/qtutil/matchview/matchselectionselector.hpp
  modules/cvv/src/qtutil/matchview/showinrawviewwidget.hpp
  modules/cvv/src/qtutil/matchview/zoomableproxyobject.hpp
  modules/cvv/src/qtutil/stfl_query_widget_lineedit.hpp
  modules/cvv/src/view/rawview.hpp
  modules/ovis/src/ovis.cpp
  modules/sfm/CMakeLists.txt
Labels: category: build/install

#1784 Fixed several incorrect printf format specifiers
  modules/face/src/eigen_faces.cpp
  modules/face/src/face_utils.hpp
  modules/face/src/fisher_faces.cpp
  modules/face/src/lbph_faces.cpp
  modules/hdf/src/hdf5.cpp
  modules/xfeatures2d/src/pct_signatures/pct_clusterizer.cpp
  modules/xfeatures2d/src/pct_signatures/pct_sampler.cpp
Labels: category: build/install

#1796 Generate enum bindings automatically
  modules/xfeatures2d/misc/python/pyopencv_xfeatures2d.hpp
  modules/ximgproc/include/opencv2/ximgproc/slic.hpp
Labels: category: build/install

#1795 tracking: add a threshold to the CSRT tracker
  modules/tracking/doc/tracking.bib
  modules/tracking/include/opencv2/tracking/tracker.hpp
  modules/tracking/src/trackerCSRT.cpp
Labels: category: tracking, feature

#1792 docs: exclude 'matlab' entry
  modules/matlab/cmake/init.cmake
Labels: category: build/install, category: documentation, category: matlab

#1801 CUDA/Python: Cleanup some manual enum wrappers
  modules/cudacodec/misc/python/pyopencv_cudacodec.hpp
Labels: category: build/install, category: cuda

#1800 cvv: fix small memleak in demo
  modules/cvv/samples/cvv_demo.cpp
Labels: bug, category: cvv, category: samples
