Repository opencv/opencv_contrib, pull requests merged in 2018-10, with the labels that each got.

#1804 ovis: add getCompositorTexture for reading custom render targets
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1810 Added instructions on using BUILD_EXAMPLES=ON to build the samples
  README.md
Labels: category: documentation

#1822 rgbd: fix build
  modules/rgbd/samples/kinfu_demo.cpp
Labels: bug, category: build/install, category: rgbd

#1828 ovis: implement MATERIAL_LINE_WIDTH
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1819 The Fast Bilateral Filter
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc/edge_filter.hpp
  modules/ximgproc/samples/colorize.cpp
  modules/ximgproc/samples/disparity_filtering.cpp
  modules/ximgproc/src/fbs_filter.cpp
  modules/ximgproc/src/fgs_filter.cpp
  modules/ximgproc/test/test_fbs_filter.cpp
Labels: category: ximgproc, feature

#1811 Update peilin.cpp
  modules/ximgproc/samples/peilin.cpp
Labels: bug, category: samples

#1833 Fixed odometry tests (changes ported from PR #1627)
  modules/rgbd/src/normal.cpp
  modules/rgbd/src/normal_lut.i
  modules/rgbd/test/test_odometry.cpp
Labels: bug, category: rgbd

#1808 Do not copy/assign CommandLineParser object
  modules/face/samples/facemark_demo_aam.cpp
  modules/face/samples/facemark_demo_lbf.cpp
  modules/face/samples/facemark_lbf_fitting.cpp
  modules/stereo/samples/sample.cpp
Labels: category: samples

#1835 rgbd: fix OpenCL includes
  modules/rgbd/src/depth_to_3d.hpp
  modules/rgbd/src/fast_icp.cpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/kinfu_frame.cpp
  modules/rgbd/src/kinfu_frame.hpp
  modules/rgbd/src/precomp.hpp
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf.hpp
  modules/rgbd/src/utils.cpp
  modules/rgbd/src/utils.hpp
Labels: bug, category: build/install, category: rgbd

#1836 bioinspired: remove the non-existent opencv_ocl module from CMakeList
  modules/bioinspired/CMakeLists.txt
Labels: bug, category: build/install

#1839 rgbd: run non-free tests if OPENCV_ENABLE_NONFREE is defined
  modules/rgbd/test/test_kinfu.cpp
Labels: bug, category: rgbd, test

#1842 use the c++11's shiny initializer list feature
  modules/rgbd/src/kinfu.cpp
Labels: category: rgbd

#1841 The kinfu_demo should open the default camera if I don't specify the camera in the cli
  modules/rgbd/samples/kinfu_demo.cpp
Labels: category: rgbd, category: samples

#1849 face: MACE filter workaround
  modules/face/src/mace.cpp
Labels: bug, category: face

#1851 face: cleanup after #1849
  modules/face/src/mace.cpp
Labels: bug, category: face

#1855 fix includes
  modules/optflow/src/pcaflow.cpp
  modules/optflow/src/variational_refinement.cpp
Labels: bug, category: build/install
