Repository opencv/opencv_contrib, pull requests merged in 2018-03, with the labels that each got.

#1574 fixed a bug in mean subtraction from target and search patches (GOTURN tracker)
  modules/tracking/src/gtrTracker.cpp
Labels: bug, category: tracking

#1499 face: add a mace filter for authentication
  modules/face/doc/face.bib
  modules/face/include/opencv2/face.hpp
  modules/face/include/opencv2/face/mace.hpp
  modules/face/samples/CMakeLists.txt
  modules/face/samples/mace_webcam.cpp
  modules/face/src/mace.cpp
  modules/face/test/test_mace.cpp
Labels: category: face, feature

#1585 build: fix includes
  modules/datasets/src/tinyxml2/tinyxml2.cpp
  modules/saliency/src/BING/CmShow.hpp
  modules/saliency/src/BING/CmTimer.hpp
  modules/saliency/src/BING/objectnessBING.cpp
  modules/xfeatures2d/src/pct_signatures/distance.hpp
  modules/xfeatures2d/src/pct_signatures/similarity.hpp
Labels: category: build/install

#1587 aruco: add a user supplied random seed for creating custom dictionaries
  modules/aruco/include/opencv2/aruco/dictionary.hpp
  modules/aruco/src/dictionary.cpp
Labels: bug, category: aruco

#1590 ovis: use frustum extents instead of setFrustumOffset
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#1599 Add CV_OVERRIDE
  modules/face/src/facemarkAAM.cpp
  modules/face/src/facemarkLBF.cpp
Labels: bug, category: build/install
