Repository opencv/opencv_contrib, pull requests merged in 2018-11, with the labels that each got.

#1858 sfm: fix public includes
  modules/sfm/include/opencv2/sfm/numeric.hpp
Labels: bug, category: build/install, category: sfm

#1861 Now when the element of the vector is removed j does not increase
  modules/line_descriptor/src/binary_descriptor.cpp
Labels: bug, category: line_descriptor

#1862 ovis: updates
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1873 sfm: fix build with Ceres
  modules/sfm/src/simple_pipeline.cpp
Labels: bug, category: build/install, category: sfm

#1876 rgbd: avoid test failing of Rgbd_Normals.compute on Aarch64
  modules/rgbd/test/test_normal.cpp
  modules/rgbd/test/test_odometry.cpp
Labels: category: rgbd, test

#1878 ovis: make log verbosity and rendersystem configurable via environment
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1871 videostab: move to opencv_contrib
  modules/videostab/CMakeLists.txt
  modules/videostab/include/opencv2/videostab.hpp
  modules/videostab/include/opencv2/videostab/deblurring.hpp
  modules/videostab/include/opencv2/videostab/fast_marching.hpp
  modules/videostab/include/opencv2/videostab/fast_marching_inl.hpp
  modules/videostab/include/opencv2/videostab/frame_source.hpp
  modules/videostab/include/opencv2/videostab/global_motion.hpp
  modules/videostab/include/opencv2/videostab/inpainting.hpp
  modules/videostab/include/opencv2/videostab/log.hpp
  modules/videostab/include/opencv2/videostab/motion_core.hpp
  modules/videostab/include/opencv2/videostab/motion_stabilizing.hpp
  modules/videostab/include/opencv2/videostab/optical_flow.hpp
  modules/videostab/include/opencv2/videostab/outlier_rejection.hpp
  modules/videostab/include/opencv2/videostab/ring_buffer.hpp
  modules/videostab/include/opencv2/videostab/stabilizer.hpp
  modules/videostab/include/opencv2/videostab/wobble_suppression.hpp
  modules/videostab/samples/videostab.cpp
  modules/videostab/src/clp.hpp
  modules/videostab/src/cuda/global_motion.cu
  modules/videostab/src/deblurring.cpp
  modules/videostab/src/fast_marching.cpp
  modules/videostab/src/frame_source.cpp
  modules/videostab/src/global_motion.cpp
  modules/videostab/src/inpainting.cpp
  modules/videostab/src/log.cpp
  modules/videostab/src/motion_stabilizing.cpp
  modules/videostab/src/optical_flow.cpp
  modules/videostab/src/outlier_rejection.cpp
  modules/videostab/src/precomp.hpp
  modules/videostab/src/stabilizer.cpp
  modules/videostab/src/wobble_suppression.cpp
  modules/videostab/test/test_main.cpp
  modules/videostab/test/test_motion_estimation.cpp
  modules/videostab/test/test_precomp.hpp
Labels: category: build/install

#1887 xfeatures2d: validate keypoints mask for SURF
  modules/xfeatures2d/src/surf.cpp
Labels: bug, category: xfeatures2d

#1888 (3.4) xfeatures2d: validate keypoints mask for SURF
  modules/xfeatures2d/src/surf.cpp
Labels: bug, category: xfeatures2d

#1883 add fast bilateral solver from master
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc/edge_filter.hpp
  modules/ximgproc/samples/colorize.cpp
  modules/ximgproc/samples/disparity_filtering.cpp
  modules/ximgproc/src/fbs_filter.cpp
  modules/ximgproc/test/test_fbs_filter.cpp
Labels: category: ximgproc

#1877 fbs disparity filtering fix
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc/edge_filter.hpp
  modules/ximgproc/samples/disparity_filtering.cpp
  modules/ximgproc/src/fbs_filter.cpp
Labels: category: ximgproc

#1889 CUDA: disable code using obsolete objdetect API
  modules/cudalegacy/src/cuda/NCVHaarObjectDetection.cu
  modules/cudalegacy/test/test_nvidia.cpp
  modules/cudaobjdetect/src/cascadeclassifier.cpp
  modules/cudaobjdetect/test/test_objdetect.cpp
  modules/cudaoptflow/CMakeLists.txt
  modules/cudaoptflow/perf/perf_optflow.cpp
  modules/cudaoptflow/perf/perf_precomp.hpp
  modules/cudaoptflow/test/test_optflow.cpp
  modules/cudaoptflow/test/test_precomp.hpp
Labels: category: build/install, category: cuda

#1863 minor changes
  modules/aruco/src/aruco.cpp
  modules/aruco/src/charuco.cpp
  modules/cnn_3dobj/src/cnn_feature.cpp
  modules/cvv/samples/cvv_demo.cpp
  modules/cvv/src/qtutil/filter/diffFilterWidget.cpp
  modules/face/tutorials/face_landmark/face_landmark_detection.markdown
  modules/face/tutorials/face_landmark/face_landmark_trainer.markdown
  modules/face/tutorials/face_landmark/face_landmark_video.markdown
  modules/face/tutorials/face_landmark/sample_face_swapping.markdown
  modules/img_hash/src/average_hash.cpp
  modules/img_hash/src/block_mean_hash.cpp
  modules/img_hash/src/color_moment_hash.cpp
  modules/img_hash/src/marr_hildreth_hash.cpp
  modules/img_hash/src/phash.cpp
  modules/img_hash/src/radial_variance_hash.cpp
  modules/line_descriptor/src/binary_descriptor.cpp
  modules/reg/samples/map_test.cpp
  modules/tracking/samples/tutorial_customizing_cn_tracker.cpp
  modules/tracking/src/TrackingFunctionPF.hpp
  modules/tracking/src/trackerBoosting.cpp
  modules/tracking/src/trackerCSRT.cpp
  modules/tracking/src/trackerCSRTUtils.cpp
  modules/tracking/src/trackerKCF.cpp
  modules/xphoto/samples/inpainting.cpp
Labels: category: build/install

#1892 fix fbs test with new reference image
  modules/ximgproc/test/test_fbs_filter.cpp
Labels: category: ximgproc, test

#1893 refactoring catching all exceptions as const ref
  modules/bioinspired/samples/cpp/OpenEXRimages_HDR_Retina_toneMapping.cpp
  modules/bioinspired/samples/cpp/OpenEXRimages_HDR_Retina_toneMapping_video.cpp
  modules/bioinspired/samples/cpp/retinaDemo.cpp
  modules/bioinspired/samples/cpp/tutorial_code/bioinspired/retina_tutorial.cpp
  modules/bioinspired/samples/ocl/retina_ocl.cpp
  modules/bioinspired/src/retina.cpp
  modules/bioinspired/src/retina_ocl.cpp
  modules/bioinspired/src/transientareassegmentationmodule.cpp
  modules/face/samples/facerec_demo.cpp
  modules/face/samples/facerec_eigenfaces.cpp
  modules/face/samples/facerec_fisherfaces.cpp
  modules/face/samples/facerec_lbph.cpp
  modules/face/samples/facerec_save_load.cpp
  modules/face/samples/facerec_video.cpp
  modules/matlab/generator/templates/functional.cpp
  modules/matlab/test/cv_exception.cpp
  modules/matlab/test/std_exception.cpp
  modules/ovis/src/ovis.cpp
Labels: category: build/install

#1884 Rewrite deriche filter- add test - add python wrapper
  modules/ximgproc/include/opencv2/ximgproc/deriche_filter.hpp
  modules/ximgproc/samples/dericheSample.py
  modules/ximgproc/src/deriche_filter.cpp
  modules/ximgproc/test/test_deriche_filter.cpp
Labels: category: ximgproc

#1791 Search for matches between a color image patch and an input color image
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/include/opencv2/ximgproc/color_match.hpp
  modules/ximgproc/samples/color_match_template.cpp
  modules/ximgproc/src/quaternion.cpp
  modules/ximgproc/test/test_matchcolortemplate.cpp
Labels: category: ximgproc, feature

#1896 docs: fix Kroeger2016 bib reference
  modules/optflow/doc/optflow.bib
Labels: category: documentation

#1867 bioinspired: make initial python example in the doc work
  modules/bioinspired/doc/retina.markdown
Labels: bug, category: bioinspired, category: documentation

#1898 fix include and use #if CV_SIMD128 instead of #ifdef CV_SIMD128
  modules/optflow/src/dis_flow.cpp
  modules/optflow/src/variational_refinement.cpp
Labels: category: build/install, category: optflow

#1906 fbs_filter revision + fix
  modules/ximgproc/include/opencv2/ximgproc/edge_filter.hpp
  modules/ximgproc/samples/disparity_filtering.cpp
  modules/ximgproc/src/fbs_filter.cpp
Labels: bug, category: ximgproc

#1895 text: reset counters in ERFilterNM::run()
  modules/text/include/opencv2/text/erfilter.hpp
  modules/text/src/erfilter.cpp
Labels: bug, category: text

#1901 ovis: allow re-initialization by destroying all windows
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1911 fix legacy contants
  modules/cvv/src/qtutil/filter/sobelfilterwidget.cpp
  modules/face/include/opencv2/face.hpp
  modules/xobjdetect/src/wbdetector.cpp
  modules/xobjdetect/tools/waldboost_detector/waldboost_detector.cpp
Labels: category: build/install

#1915 Fix build error.
  modules/cvv/src/qtutil/filter/sobelfilterwidget.cpp
Labels: bug, category: build/install, category: cvv

#1912 num_linear_solver_threads has been deprecated since Ceres 1.14.0
  modules/sfm/src/libmv_light/libmv/simple_pipeline/bundle.cc
Labels: category: sfm

#1913 use PF_DEPTH for compatibility
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#1918 Add namespace cv for successful build
  modules/cvv/src/qtutil/filter/diffFilterWidget.cpp
Labels: bug, category: build/install
