Repository opencv/opencv_contrib, pull requests merged in 2019-11, with the labels that each got.

#2301 Build DoG Pyramid if useProvideKeypoints is false
  modules/xfeatures2d/src/sift.cpp
Labels: category: xfeatures2d

#2312 fix memset error in CombinedDescriptor
  modules/stereo/include/opencv2/stereo/descriptor.hpp
Labels: bug, category: stereo

#2296 new algorithm Rapid Frequency Selective Reconstruction (FSR) added
  modules/xphoto/doc/xphoto.bib
  modules/xphoto/include/opencv2/xphoto/inpainting.hpp
  modules/xphoto/src/inpainting.cpp
  modules/xphoto/src/inpainting_fsr.impl.hpp
  modules/xphoto/test/test_inpainting.cpp
Labels: category: xphoto, feature

#2335 ovis: add createTriangleMesh method
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/meshes.cpp
Labels: category: ovis, feature

#2336 corrected scope of CV_Error()
  modules/cudaoptflow/src/nvidiaOpticalFlow.cpp
Labels: bug, category: build/install, category: cuda

#2178 Add test for ximgproc/edgeboxes and fix up Python sample to work with returning scores
  modules/ximgproc/samples/edgeboxes_demo.py
  modules/ximgproc/test/test_edgeboxes.cpp
Labels: category: ximgproc

#2332 Add short tutorial for FSR-based image inpainting
  modules/xphoto/tutorials/fsr_for_inpainting.markdown
  modules/xphoto/tutorials/images/originalVSdistorted.jpg
  modules/xphoto/tutorials/images/reconstructed_fastVSbest.jpg
Labels: category: documentation, category: xphoto

#2347 build: GCC9 compilation
  modules/optflow/include/opencv2/optflow/sparse_matching_gpc.hpp
  modules/sfm/src/libmv_light/CMakeLists.txt
  modules/surface_matching/src/ppf_match_3d.cpp
Labels: category: build/install

#2342 Update tests (gaussianBlur fix)
  modules/line_descriptor/test/test_descriptors_regression.cpp
  modules/xfeatures2d/test/test_gms_matcher.cpp
  modules/xfeatures2d/test/test_rotation_and_scale_invariance.cpp
  modules/ximgproc/test/test_ridge_detection_filter.cpp
Labels: test

#2180 OpenCV fix 14774 breaks cudacodec
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/perf/perf_video.cpp
  modules/cudacodec/src/cuda/nv12_to_rgb.cu
  modules/cudacodec/src/cuvid_video_source.cpp
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/src/ffmpeg_video_source.hpp
  modules/cudacodec/src/precomp.hpp
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.cpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/src/video_source.cpp
  modules/cudacodec/src/video_writer.cpp
  modules/cudacodec/test/test_precomp.hpp
  modules/cudacodec/test/test_video.cpp
Labels: bug, category: build/install, category: cuda

#2353 python: force using of ArgInfo
  modules/line_descriptor/misc/python/pyopencv_LSDDetector.hpp
  modules/rgbd/misc/python/pyopencv_linemod.hpp
  modules/surface_matching/include/opencv2/surface_matching/pose_3d.hpp
  modules/surface_matching/misc/python/pyopencv_ppf_match_3d.hpp
Labels: category: python bindings

#2341 Added constructors and destructors for RgbdPlane
  modules/rgbd/include/opencv2/rgbd.hpp
  modules/rgbd/misc/python/test/test_rgbd.py
  modules/rgbd/src/odometry.cpp
Labels: category: rgbd

#2364 ovis: implement setting diffuse color
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis
