Repository opencv/opencv_contrib, pull requests merged in 2019-02, with the labels that each got.

#1980 Fixed warnings produced by clang-9.0.0
  modules/cvv/src/impl/call.hpp
  modules/face/src/facemarkLBF.cpp
  modules/face/src/mace.cpp
  modules/ovis/src/ovis.cpp
  modules/rgbd/test/test_kinfu.cpp
  modules/sfm/src/numeric.cpp
  modules/videostab/src/global_motion.cpp
  modules/ximgproc/samples/colorize.cpp
  modules/ximgproc/test/test_sparse_match_interpolator.cpp
Labels: category: build/install

#1994 Expose line descriptor python
  modules/line_descriptor/include/opencv2/line_descriptor/descriptor.hpp
  modules/line_descriptor/src/LSDDetector.cpp
Labels: category: line_descriptor, category: python bindings

#1990 Image Quality Analysis (IQA) API
  modules/quality/CMakeLists.txt
  modules/quality/README.md
  modules/quality/include/opencv2/quality.hpp
  modules/quality/include/opencv2/quality/quality_utils.hpp
  modules/quality/include/opencv2/quality/qualitybase.hpp
  modules/quality/include/opencv2/quality/qualitygmsd.hpp
  modules/quality/include/opencv2/quality/qualitymse.hpp
  modules/quality/include/opencv2/quality/qualitypsnr.hpp
  modules/quality/include/opencv2/quality/qualityssim.hpp
  modules/quality/src/precomp.hpp
  modules/quality/src/qualitygmsd.cpp
  modules/quality/src/qualitymse.cpp
  modules/quality/src/qualityssim.cpp
  modules/quality/test/test_gmsd.cpp
  modules/quality/test/test_main.cpp
  modules/quality/test/test_mse.cpp
  modules/quality/test/test_precomp.hpp
  modules/quality/test/test_psnr.cpp
  modules/quality/test/test_ssim.cpp
Labels: category: image quality, new module

#2007 sfm module calls imread function, which is in imgcodecs module
  modules/sfm/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/correspondence/nRobustViewMatching.cc
Labels: bug, category: build/install, category: sfm

#2011 Fixed type narrowing issues
  modules/optflow/src/pcaflow.cpp
  modules/optflow/src/sparse_matching_gpc.cpp
  modules/ximgproc/samples/colorize.cpp
Labels: category: build/install
