Repository opencv/opencv_contrib, pull requests merged in 2019-04, with the labels that each got.

#2065 ximgproc: Fix support for CV_32F WLS Filter
  modules/ximgproc/src/disparity_filters.cpp
Labels: bug, category: ximgproc

#2079 ovis: addResourceLocation - only retain unique locations
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#2080 aruco: forward drawAxis to drawFrameAxes
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/src/aruco.cpp
Labels: category: aruco

#2088 text: fix build on windows
  modules/text/src/ocr_tesseract.cpp
  modules/text/src/precomp.hpp
Labels: category: build/install, category: text

#2074 fix rectifyPatch bug when patch orientation is not extracted
  modules/xfeatures2d/src/boostdesc.cpp
Labels: bug, category: xfeatures2d

#2091 optflow: add a check for 3 channel images for sparse RLOF
  modules/optflow/src/rlofflow.cpp
Labels: category: optflow

#2093 cmake: use ocv_check_modules()
  modules/freetype/CMakeLists.txt
  modules/text/CMakeLists.txt
  modules/text/cmake/FindTesseract.cmake
Labels: category: build/install, category: freetype, category: text

#2095 optflow: fix RLOF SR_CROSS check
  modules/optflow/src/rlofflow.cpp
Labels: bug, category: optflow

#2097 optflow: RLOF fixes (python-binding, status flag, flat textures)
  modules/optflow/include/opencv2/optflow/rlofflow.hpp
  modules/optflow/src/rlof/rlof_invokerbase.hpp
  modules/optflow/src/rlof/rlof_localflow.cpp
  modules/optflow/src/rlof/rlof_localflow.h
  modules/optflow/src/rlofflow.cpp
  modules/optflow/test/test_OF_accuracy.cpp
Labels: bug, category: optflow

#1987 Update code after solvePnP and solvePnPRansac InputOutputArray changes
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/include/opencv2/aruco/charuco.hpp
  modules/aruco/src/aruco.cpp
  modules/aruco/src/charuco.cpp
  modules/ccalib/include/opencv2/ccalib.hpp
  modules/ccalib/src/ccalib.cpp
Labels: category: aruco, category: ccalib

#2096 shape: remove duplicate python test
  modules/shape/test_python/test_shape.py
Labels: category: shape

#2052 Added a parameter to mask features used for video stabilization
  modules/videostab/include/opencv2/videostab/frame_source.hpp
  modules/videostab/include/opencv2/videostab/global_motion.hpp
  modules/videostab/include/opencv2/videostab/stabilizer.hpp
  modules/videostab/samples/videostab.cpp
  modules/videostab/src/global_motion.cpp
  modules/videostab/src/stabilizer.cpp
Labels: category: videostab, feature

#2109 videostab: fix CUDA build
  modules/videostab/include/opencv2/videostab/global_motion.hpp
  modules/videostab/src/global_motion.cpp
Labels: bug, category: build/install, category: cuda, category: videostab
