Repository opencv/opencv_contrib, pull requests merged in 2019-06, with the labels that each got.

#2132 Fix 2102 redux
  modules/ximgproc/src/selectivesearchsegmentation.cpp
Labels: bug, category: ximgproc

#2133 KinectFusion: several updates
  modules/rgbd/include/opencv2/rgbd/kinfu.hpp
  modules/rgbd/samples/kinfu_demo.cpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/kinfu_frame.cpp
  modules/rgbd/src/kinfu_frame.hpp
  modules/rgbd/src/odometry.cpp
Labels: category: rgbd

#2141 aruco: simplify code by using lambdas
  modules/aruco/src/aruco.cpp
  modules/aruco/src/charuco.cpp
Labels: category: aruco

#2148 push frame when videoCapture opened
  modules/bioinspired/samples/retinaDemo.cpp
Labels: category: bioinspired

#2146 Add missing codecs to cv::cudacodec::VideoReader which uses Nvidia Video Codec SDK
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/perf/perf_video.cpp
  modules/cudacodec/src/cuvid_video_source.cpp
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/src/video_decoder.cpp
Labels: category: cuda

#2152 issue-2060: implement ability to return scores for edgeboxes implemen…
  modules/ximgproc/include/opencv2/ximgproc/edgeboxes.hpp
  modules/ximgproc/src/edgeboxes.cpp
Labels: category: ximgproc, feature

#2150 ovis: add cpp samples
  modules/ovis/samples/aruco_ar_demo.cpp
  modules/ovis/samples/ovis_demo.cpp
Labels: category: ovis

#2158 ovis: fix build of cpp example, which depends on aruco
  modules/ovis/CMakeLists.txt
Labels: category: build/install, category: ovis

#2154 python binding for facemark::fit
  modules/face/include/opencv2/face/facemark.hpp
  modules/face/include/opencv2/face/facemarkAAM.hpp
  modules/face/samples/landmarks_demo.py
  modules/face/src/face_alignmentimpl.hpp
  modules/face/src/facemarkAAM.cpp
  modules/face/src/facemarkLBF.cpp
  modules/face/src/getlandmarks.cpp
Labels: category: face, category: python bindings

#2160 ovis: add methods (+ sample) for setting entity animations
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/samples/ovis_demo.cpp
  modules/ovis/samples/ovis_demo.py
  modules/ovis/src/ovis.cpp
Labels: category: ovis
