Repository opencv/opencv_contrib, pull requests merged in 2019-01, with the labels that each got.

#1953 Replace ChArUco board image
  modules/aruco/tutorials/charuco_detection/images/charucoboard.jpg
Labels: bug, category: aruco, category: documentation

#1955 ovis: compatibility for Ogre 1.12.0dev
  modules/ovis/CMakeLists.txt
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#1956 typo: rename sfm sample
  modules/sfm/samples/trajectory_reconstruction.cpp
  modules/sfm/tutorials/sfm_trajectory_estimation/sfm_trajectory_estimation.markdown
Labels: category: sfm

#1960 cmake: Tesseract_INCLUDE_DIR > Tesseract_INCLUDE_DIRS
  modules/text/CMakeLists.txt
Labels: bug, category: build/install, category: text

#1964 sfm: avoid variable-names starting with underscore
  modules/sfm/src/projection.cpp
Labels: category: build/install, category: sfm

#1968 Fix typo of ArUco Detector Parameter
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
Labels: bug, category: aruco, category: documentation

#1976 rgbd: fix python bindings
  modules/rgbd/include/opencv2/rgbd.hpp
Labels: category: rgbd
