Repository opencv/opencv_contrib, pull requests merged in 2019-09, with the labels that each got.

#2251 Clamp BRISQUE output to 0-100
  modules/quality/src/qualitybrisque.cpp
Labels: bug, category: image quality

#2254 text: remove NFA computation code due licensing conflict
  modules/text/include/opencv2/text/erfilter.hpp
  modules/text/src/erfilter.cpp
  modules/text/test/test_detection.cpp
Labels: category: text

#2255 Update bgfg.cpp
  modules/bgsegm/samples/bgfg.cpp
Labels: category: bgsegm, category: samples, feature

#2263 fix histogram calculation and add some tests for simpleWB
  modules/xphoto/src/simple_color_balance.cpp
  modules/xphoto/test/simple_color_balance.cpp
Labels: category: xphoto

#2269 Updated samples/optflow/motempl.py file to solve 3 issues.
  modules/optflow/samples/motempl.py
Labels: category: samples

#2271 (3.4) backport: Fixed warnings produced by clang-9.0.0
  modules/cvv/src/impl/call.hpp
  modules/face/src/facemarkLBF.cpp
  modules/face/src/mace.cpp
  modules/optflow/src/optical_flow_io.cpp
  modules/ovis/src/ovis.cpp
  modules/sfm/src/numeric.cpp
  modules/ximgproc/test/test_sparse_match_interpolator.cpp
Labels: category: build/install

#2250 Add pattern generator tool
  modules/aruco/misc/pattern_generator/MarkerPrinter.py
  modules/aruco/misc/pattern_generator/MarkerPrinterGUI.py
  modules/aruco/misc/pattern_generator/README.md
  modules/aruco/misc/pattern_generator/arucoDictBytesList.npz
  modules/aruco/misc/pattern_generator/doc/images/MarkerPrinterGUI.jpg
  modules/aruco/tutorials/table_of_content_aruco.markdown
Labels: category: aruco

#2229 Adding dnn based super resolution module.
  modules/README.md
  modules/dnn_superres/CMakeLists.txt
  modules/dnn_superres/README.md
  modules/dnn_superres/include/opencv2/dnn_superres.hpp
  modules/dnn_superres/perf/perf_dnn_superres.cpp
  modules/dnn_superres/perf/perf_main.cpp
  modules/dnn_superres/perf/perf_precomp.hpp
  modules/dnn_superres/samples/butterfly.png
  modules/dnn_superres/samples/dnn_superres_benchmark_quality.cpp
  modules/dnn_superres/samples/dnn_superres_benchmark_time.cpp
  modules/dnn_superres/samples/dnn_superres_multioutput.cpp
  modules/dnn_superres/samples/dnn_superres_video.cpp
  modules/dnn_superres/src/dnn_superres.cpp
  modules/dnn_superres/src/precomp.hpp
  modules/dnn_superres/test/test_dnn_superres.cpp
  modules/dnn_superres/test/test_main.cpp
  modules/dnn_superres/test/test_precomp.hpp
  modules/dnn_superres/tutorials/benchmark/images/bicubic_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/bicubic_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/bicubic_div2k.jpg
  modules/dnn_superres/tutorials/benchmark/images/bicubic_urban.jpg
  modules/dnn_superres/tutorials/benchmark/images/edsr_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/edsr_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/edsr_urban.jpg
  modules/dnn_superres/tutorials/benchmark/images/espcn_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/espcn_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/espcn_urban.jpg
  modules/dnn_superres/tutorials/benchmark/images/fsrcnn_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/fsrcnn_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/fsrcnn_urban.jpg
  modules/dnn_superres/tutorials/benchmark/images/lanczos_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/lanczos_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/lanczos_div2k.jpg
  modules/dnn_superres/tutorials/benchmark/images/lanczos_urban.jpg
  modules/dnn_superres/tutorials/benchmark/images/lapsrn_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/lapsrn_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/lapsrn_div2k.jpg
  modules/dnn_superres/tutorials/benchmark/images/nearest_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/nearest_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/nearest_div2k.jpg
  modules/dnn_superres/tutorials/benchmark/images/nearest_urban.jpg
  modules/dnn_superres/tutorials/benchmark/images/orig_butterfly.jpg
  modules/dnn_superres/tutorials/benchmark/images/orig_comic.jpg
  modules/dnn_superres/tutorials/benchmark/images/orig_div2k.jpg
  modules/dnn_superres/tutorials/benchmark/images/orig_urban.jpg
  modules/dnn_superres/tutorials/benchmark/sr_benchmark.markdown
  modules/dnn_superres/tutorials/table_of_content_dnn_superres.markdown
  modules/dnn_superres/tutorials/upscale_image_multi/upscale_image_multi.markdown
  modules/dnn_superres/tutorials/upscale_video/upscale_video.markdown
Labels: GSoC

#2276 Ensures that l0smooth input arguments are valid
  modules/ximgproc/src/l0_smooth.cpp
Labels: category: ximgproc

#1993 waldboost_detector train: avoid failed asserts while training by exiting early
  modules/xobjdetect/src/waldboost.cpp
Labels: bug, category: xobjdetect
