Repository opencv/opencv_contrib, pull requests merged in 2019-07, with the labels that each got.

#2175 ovis, fixes: windows build, play multiple animations
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#2171 Added LookAt-methods and a GetPose-method for entities
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#2182 Lb/tracking by matching
  modules/tracking/include/opencv2/tracking/tracking_by_matching.hpp
  modules/tracking/samples/tracking_by_matching.cpp
  modules/tracking/src/kuhn_munkres.cpp
  modules/tracking/src/kuhn_munkres.hpp
  modules/tracking/src/tracking_by_matching.cpp
Labels: category: tracking, feature

#2165 Nvidia optical flow
  modules/cudaoptflow/CMakeLists.txt
  modules/cudaoptflow/include/opencv2/cudaoptflow.hpp
  modules/cudaoptflow/perf/perf_optflow.cpp
  modules/cudaoptflow/samples/nvidia_optical_flow.cpp
  modules/cudaoptflow/samples/optical_flow.cpp
  modules/cudaoptflow/src/nvidiaOpticalFlow.cpp
  modules/cudaoptflow/test/test_optflow.cpp
Labels: category: cuda, feature

#2185 bioinspired: fix program build failure
  modules/bioinspired/src/opencl/retina_kernel.cl
Labels: category: bioinspired

#2188 Fix copyrights in tracking_by_matching files
  modules/tracking/include/opencv2/tracking/tracking_by_matching.hpp
  modules/tracking/src/kuhn_munkres.cpp
  modules/tracking/src/kuhn_munkres.hpp
  modules/tracking/src/tracking_by_matching.cpp
Labels: category: tracking
