Repository opencv/opencv_contrib, pull requests merged in 2019-05, with the labels that each got.

#2106 KinFu: try to fix OCL fails
  modules/rgbd/src/fast_icp.cpp
  modules/rgbd/src/kinfu_frame.cpp
  modules/rgbd/src/opencl/icp.cl
  modules/rgbd/src/tsdf.cpp
Labels: bug, category: rgbd

#2113 Simplified Quality API
  modules/quality/CMakeLists.txt
  modules/quality/README.md
  modules/quality/include/opencv2/quality/quality_utils.hpp
  modules/quality/include/opencv2/quality/qualitybase.hpp
  modules/quality/include/opencv2/quality/qualitybrisque.hpp
  modules/quality/include/opencv2/quality/qualitygmsd.hpp
  modules/quality/include/opencv2/quality/qualitymse.hpp
  modules/quality/include/opencv2/quality/qualitypsnr.hpp
  modules/quality/include/opencv2/quality/qualityssim.hpp
  modules/quality/samples/brisque_trainer_livedb.cpp
  modules/quality/src/qualitybrisque.cpp
  modules/quality/src/qualitygmsd.cpp
  modules/quality/src/qualitymse.cpp
  modules/quality/src/qualityssim.cpp
  modules/quality/test/test_brisque.cpp
  modules/quality/test/test_gmsd.cpp
  modules/quality/test/test_main.cpp
  modules/quality/test/test_mse.cpp
  modules/quality/test/test_precomp.hpp
  modules/quality/test/test_psnr.cpp
  modules/quality/test/test_ssim.cpp
Labels: category: image quality

#2116 Update fld_lines.cpp
  modules/ximgproc/samples/fld_lines.cpp
Labels: category: samples, category: ximgproc

#2119 sfm: fix build with eigen
  modules/sfm/src/libmv_light/libmv/base/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/correspondence/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/multiview/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/numeric/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/simple_pipeline/CMakeLists.txt
Labels: bug, category: build/install, category: sfm

#2000 Incomplete sentence corrected. Resolves Issue #1997
  modules/face/include/opencv2/face.hpp
Labels: category: documentation, category: face

#2124 add glog_library to correspondence cmakelists.txt
  modules/sfm/src/libmv_light/libmv/correspondence/CMakeLists.txt
Labels: bug, category: build/install, category: sfm

#2120 Move background subtraction python tutorial to proper location
  modules/bgsegm/tutorials/bgsegm_bg_subtraction/bgsegm_bg_subtraction.markdown
  modules/bgsegm/tutorials/bgsegm_bg_subtraction/images/resframe.jpg
  modules/bgsegm/tutorials/bgsegm_bg_subtraction/images/resgmg.jpg
  modules/bgsegm/tutorials/bgsegm_bg_subtraction/images/resmog.jpg
  modules/bgsegm/tutorials/table_of_content_bgsegm.markdown
Labels: category: documentation

#2055 added detection of inverted Markers, tests included
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/src/aruco.cpp
  modules/aruco/test/test_arucodetection.cpp
Labels: category: aruco, feature

#2069 Change the interface of face landmark
  modules/face/include/opencv2/face/facemark.hpp
  modules/face/include/opencv2/face/facemarkAAM.hpp
  modules/face/src/face_alignmentimpl.hpp
  modules/face/src/facemarkAAM.cpp
  modules/face/src/facemarkLBF.cpp
  modules/face/src/getlandmarks.cpp
Labels: category: face
