Repository opencv/opencv_contrib, pull requests merged in 2019-03, with the labels that each got.

#2020 line_descriptor: remove code with conflict license
  modules/line_descriptor/include/opencv2/line_descriptor/descriptor.hpp
  modules/line_descriptor/perf/perf_descriptors.cpp
  modules/line_descriptor/perf/perf_detection.cpp
  modules/line_descriptor/src/binary_descriptor.cpp
  modules/line_descriptor/test/test_descriptors_regression.cpp
  modules/line_descriptor/test/test_detector_regression.cpp
Labels: category: line_descriptor

#2024 (3.4) backport bindings generator from OpenCV 4.x
  modules/aruco/include/opencv2/aruco/dictionary.hpp
  modules/ximgproc/include/opencv2/ximgproc/slic.hpp
Labels: category: build/install

#2028 cudaimgproc: fix test failure of CUDA_ImgProc
  modules/cudev/include/opencv2/cudev/functional/detail/color_cvt.hpp
Labels: bug, category: cuda

#2039 ovis: allow disabling VSYNC - useful in multiwindow scenarios
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#2038 Changed mismatch grayscale to image with 3 channels
  modules/ximgproc/include/opencv2/ximgproc.hpp
Labels: category: documentation, category: ximgproc

#2042 ovis: document the supported environment variables
  modules/ovis/include/opencv2/ovis.hpp
Labels: category: documentation, category: ovis

#2033 A pythonic interface for surface_matching module
  modules/surface_matching/include/opencv2/surface_matching/icp.hpp
  modules/surface_matching/include/opencv2/surface_matching/pose_3d.hpp
  modules/surface_matching/include/opencv2/surface_matching/ppf_match_3d.hpp
  modules/surface_matching/misc/python/pyopencv_ppf_match_3d.hpp
  modules/surface_matching/samples/ppf_load_match.py
Labels: category: python bindings, category: surface_matching, feature

#2058 fix cv::superres::SuperResolution::getLabmda/setLabmda typo
  modules/superres/include/opencv2/superres.hpp
  modules/superres/src/btv_l1.cpp
  modules/superres/src/btv_l1_cuda.cpp
Labels: category: superres
