Repository opencv/opencv_contrib, pull requests merged in 2019-08, with the labels that each got.

#2206 Fix broken pyhton binding for sfm importReconstruction
  modules/sfm/include/opencv2/sfm/io.hpp
  modules/sfm/src/io.cpp
Labels: bug, category: sfm

#2208 Correct the behaviour of inpainting mask usage
  modules/xphoto/src/inpainting.cpp
Labels: bug, category: xphoto

#2204 - fix find_package for glog & gflags
  modules/sfm/cmake/FindGflags.cmake
  modules/sfm/cmake/FindGlog.cmake
Labels: category: build/install, category: sfm

#2209 Enhance EdgeAwareInterpolation no. matches limitation
  modules/ximgproc/src/sparse_match_interpolators.cpp
Labels: category: ximgproc, feature

#2217 build: suppress noisy warning
  modules/hfs/CMakeLists.txt
  modules/xfeatures2d/CMakeLists.txt
Labels: category: build/install, category: cuda

#2199 add get/set for FastThreshold
  modules/cudafeatures2d/include/opencv2/cudafeatures2d.hpp
Labels: category: cuda

#2220 cmake: fix tesseract detection
  modules/text/CMakeLists.txt
  modules/text/cmake/checks/tesseract_test.cpp
  modules/text/cmake/init.cmake
Labels: category: build/install, category: text

#2215 Lazy loading nvcuda.dll
  modules/cudaoptflow/src/nvidiaOpticalFlow.cpp
Labels: category: cuda

#2224 Fixed bug in BTVL1 superres with UMat without OpenCL initialization
  modules/superres/src/super_resolution.cpp
Labels: bug, category: superres

#2193 Moved aruco dictionary globals into getPredefinedDictionary to allow lazy-loading of the opencv DLL
  modules/aruco/src/dictionary.cpp
Labels: category: aruco

#2222 Fixed the names of methods
  modules/reg/samples/reg_shift.py
Labels: category: python bindings, category: reg

#2236 Inv marker contour detection improved
  modules/aruco/src/aruco.cpp
  modules/aruco/test/test_arucodetection.cpp
Labels: category: aruco
