Repository opencv/opencv_contrib, pull requests merged in 2020-03, with the labels that each got.

#2439 Add overload method and fix typos in omnidir
  modules/ccalib/include/opencv2/ccalib/omnidir.hpp
  modules/ccalib/src/omnidir.cpp
Labels: category: ccalib

#2440 FREAK : better rounding off for weighted dx and dy of orientation pairs
  modules/xfeatures2d/src/freak.cpp
Labels: bug, category: xfeatures2d

#2449 Issue 16736
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/include/opencv2/xfeatures2d/nonfree.hpp
  modules/xfeatures2d/src/sift.cpp
  modules/xfeatures2d/test/test_features2d.cpp
Labels: category: xfeatures2d

#2454 ovis: allow setting material at sub-entity granularity
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#2451 Fix GMSMatcher crash
  modules/xfeatures2d/src/gms.cpp
Labels: bug, category: xfeatures2d

#2438 Added new sample code to charuco detection tutorial and added doxygen references to new created sample tutorial code, issue id #16224
  modules/aruco/samples/tutorial_charuco_create_detect.cpp
  modules/aruco/tutorials/charuco_detection/charuco_detection.markdown
Labels: category: aruco, category: documentation

#2452 Allows structured_light pipeline to be run from Python
  modules/phase_unwrapping/include/opencv2/phase_unwrapping/histogramphaseunwrapping.hpp
  modules/phase_unwrapping/misc/python/pyopencv_phase_unwrapping.hpp
  modules/phase_unwrapping/src/histogramphaseunwrapping.cpp
  modules/structured_light/include/opencv2/structured_light/sinusoidalpattern.hpp
  modules/structured_light/misc/python/test/test_structured_light.py
Labels: category: phase_unwrapping, category: python bindings, category: structured_light

#2447 Adding constructor for kinfu_Params()
  modules/rgbd/include/opencv2/rgbd/kinfu.hpp
  modules/rgbd/src/kinfu.cpp
Labels: category: rgbd

#2460 Fix depth registeration
  modules/rgbd/src/depth_registration.cpp
  modules/rgbd/test/test_registration.cpp
Labels: bug, category: rgbd, test

#2306 Computer Vision based Alpha Matting
  modules/README.md
  modules/alphamat/CMakeLists.txt
  modules/alphamat/README.md
  modules/alphamat/doc/alphamat.bib
  modules/alphamat/include/opencv2/alphamat.hpp
  modules/alphamat/samples/information_flow_matting.cpp
  modules/alphamat/samples/input_images/plant.jpg
  modules/alphamat/samples/output_mattes/plant_result.jpg
  modules/alphamat/samples/trimaps/plant.png
  modules/alphamat/src/3rdparty/KDTreeVectorOfVectorsAdaptor.h
  modules/alphamat/src/3rdparty/nanoflann.hpp
  modules/alphamat/src/cm.cpp
  modules/alphamat/src/cm.hpp
  modules/alphamat/src/infoflow.cpp
  modules/alphamat/src/intraU.cpp
  modules/alphamat/src/intraU.hpp
  modules/alphamat/src/local_info.cpp
  modules/alphamat/src/local_info.hpp
  modules/alphamat/src/precomp.hpp
  modules/alphamat/tutorials/alphamat_tutorial.markdown
Labels: category: alphamat, new module

#2474 stereo: fix public headers, invalid range access, uninitialized values
  modules/stereo/CMakeLists.txt
  modules/stereo/include/opencv2/stereo.hpp
  modules/stereo/include/opencv2/stereo/descriptor.hpp
  modules/stereo/perf/perf_bm.cpp
  modules/stereo/perf/perf_descriptor.cpp
  modules/stereo/perf/perf_precomp.hpp
  modules/stereo/src/descriptor.cpp
  modules/stereo/src/descriptor.hpp
  modules/stereo/src/matching.hpp
  modules/stereo/src/precomp.hpp
  modules/stereo/src/stereo_binary_bm.cpp
  modules/stereo/src/stereo_binary_sgbm.cpp
  modules/stereo/test/test_precomp.hpp
Labels: bug, category: stereo

#2478 Fix warning in VS 2019 build
  modules/face/src/regtree.cpp
Labels: category: build/install

#2473 Minor fix for solvePnPRansac params mismatch
  modules/ccalib/src/ccalib.cpp
Labels: bug, category: ccalib

#2480 Pythonwrap for the dnn_superres module
  modules/dnn_superres/CMakeLists.txt
  modules/dnn_superres/include/opencv2/dnn_superres.hpp
  modules/dnn_superres/misc/python/test/test_dnn_superres.py
  modules/dnn_superres/src/dnn_superres.cpp
  modules/dnn_superres/tutorials/table_of_content_dnn_superres.markdown
  modules/dnn_superres/tutorials/upscale_image_multi/upscale_image_multi.markdown
  modules/dnn_superres/tutorials/upscale_image_single/upscale_image_single.markdown
  modules/dnn_superres/tutorials/upscale_video/upscale_video.markdown
Labels: category: dnn_superres, category: python bindings, test

#2476 Rework RLOF by using HAL universal instructions
  modules/optflow/include/opencv2/optflow/rlofflow.hpp
  modules/optflow/perf/perf_rlof.cpp
  modules/optflow/src/rlof/berlof_invoker.hpp
  modules/optflow/src/rlof/plk_invoker.hpp
  modules/optflow/src/rlof/rlof_invoker.hpp
  modules/optflow/src/rlof/rlof_invokerbase.hpp
  modules/optflow/src/rlof/rlof_localflow.cpp
  modules/optflow/src/rlofflow.cpp
  modules/optflow/test/test_OF_accuracy.cpp
Labels: category: optflow, optimization
