Repository opencv/opencv_contrib, pull requests merged in 2020-05, with the labels that each got.

#2520 Add documentation warning about BIMEF implementation
  modules/intensity_transform/include/opencv2/intensity_transform.hpp
Labels: category: documentation, category: intensity_transform

#2514 aruco: new feature testCharucoCornersCollinear() in charuco.hpp/cpp
  modules/aruco/include/opencv2/aruco/charuco.hpp
  modules/aruco/src/charuco.cpp
  modules/aruco/test/test_charucodetection.cpp
Labels: category: aruco, feature

#2536 Modified Stream support functionality.
  modules/cudaoptflow/include/opencv2/cudaoptflow.hpp
  modules/cudaoptflow/samples/optical_flow.cpp
  modules/cudaoptflow/src/nvidiaOpticalFlow.cpp
Labels: category: cuda, feature

#2538 removed haarcascade_mcs_*.xml files
  modules/face/data/cascades/haarcascade_mcs_eyepair_big.xml
  modules/face/data/cascades/haarcascade_mcs_eyepair_small.xml
  modules/face/data/cascades/haarcascade_mcs_leftear.xml
  modules/face/data/cascades/haarcascade_mcs_lefteye.xml
  modules/face/data/cascades/haarcascade_mcs_lefteye_alt.xml
  modules/face/data/cascades/haarcascade_mcs_mouth.xml
  modules/face/data/cascades/haarcascade_mcs_nose.xml
  modules/face/data/cascades/haarcascade_mcs_rightear.xml
  modules/face/data/cascades/haarcascade_mcs_righteye.xml
  modules/face/data/cascades/haarcascade_mcs_righteye_alt.xml
  modules/face/data/cascades/haarcascade_mcs_upperbody.xml
Labels: RFC, category: face

#2541 NVOF Build Error Fix
  modules/cudaoptflow/samples/optical_flow.cpp
Labels: bug, category: build/install, category: cuda

#2543 NVOF - Passing non null streams to create API
  modules/cudaoptflow/samples/optical_flow.cpp
Labels: category: cuda
