Repository opencv/opencv_contrib, pull requests merged in 2020-11, with the labels that each got.

#2733 sfm: fix memory leak
  modules/sfm/src/libmv_capi.h
  modules/sfm/src/simple_pipeline.cpp
Labels: bug, category: sfm

#2732 cmake: support Ceres 2.0.0
  modules/rgbd/CMakeLists.txt
  modules/sfm/CMakeLists.txt
  modules/sfm/cmake/checks/check_glog_gflags.cpp
  modules/sfm/src/libmv_light/libmv/base/vector.h
  modules/sfm/src/libmv_light/libmv/multiview/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/multiview/fundamental.cc
  modules/sfm/src/libmv_light/libmv/multiview/homography.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/bundle.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/intersect.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/tracks.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/tracks.h
Labels: category: build/install, category: rgbd, category: sfm, feature

#2740 (3.4) cmake: support Ceres 2.0.0
  modules/sfm/CMakeLists.txt
  modules/sfm/cmake/checks/check_glog_gflags.cpp
  modules/sfm/src/libmv_capi.h
  modules/sfm/src/libmv_light/libmv/base/vector.h
  modules/sfm/src/libmv_light/libmv/multiview/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/multiview/fundamental.cc
  modules/sfm/src/libmv_light/libmv/multiview/homography.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/bundle.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/intersect.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/tracks.cc
  modules/sfm/src/libmv_light/libmv/simple_pipeline/tracks.h
Labels: category: build/install, category: sfm

#2610 Simplified generateWindowName
  modules/viz/include/opencv2/viz/vizcore.hpp
Labels: category: documentation, category: viz

#2741 line_descriptor: removed LineSegmentDetector
  modules/line_descriptor/src/LSDDetector.cpp
Labels: category: line_descriptor

#2729 Added Python wrapping and documentation for alphamat module
  modules/alphamat/CMakeLists.txt
  modules/alphamat/README.md
  modules/alphamat/include/opencv2/alphamat.hpp
  modules/alphamat/samples/information_flow_matting.cpp
  modules/alphamat/samples/output_mattes/plant_result.jpg
  modules/alphamat/samples/output_mattes/plant_result.png
  modules/alphamat/tutorials/alphamat_tutorial.markdown
  modules/alphamat/tutorials/matting_results.jpg
  modules/alphamat/tutorials/plant_new_backgrounds.jpg
Labels: category: alphamat, category: documentation, category: python bindings, feature

#2748 text: drop ambiguous call, fix bindings
  modules/text/include/opencv2/text/ocr.hpp
  modules/text/src/ocr_beamsearch_decoder.cpp
Labels: category: text

#2749 fix win, vs2019 build. missing header
  modules/cvv/src/util/observer_ptr.hpp
Labels: category: build/install, category: cvv

#2752 phase_unwrapping: add asserts, documentation for input types
  modules/phase_unwrapping/include/opencv2/phase_unwrapping/phase_unwrapping.hpp
  modules/phase_unwrapping/src/histogramphaseunwrapping.cpp
Labels: category: documentation, category: phase_unwrapping

#2753 tracking: move Tracking API to the main repository
  modules/tracking/CMakeLists.txt
  modules/tracking/doc/tracking.bib
  modules/tracking/include/opencv2/tracking.hpp
  modules/tracking/include/opencv2/tracking/feature.hpp
  modules/tracking/include/opencv2/tracking/onlineMIL.hpp
  modules/tracking/include/opencv2/tracking/tracking_internals.hpp
  modules/tracking/include/opencv2/tracking/tracking_legacy.hpp
  modules/tracking/misc/java/test/TrackerCreateTest.java
  modules/tracking/misc/python/pyopencv_tracking.hpp
  modules/tracking/perf/perf_trackers.cpp
  modules/tracking/src/gtrTracker.cpp
  modules/tracking/src/legacy/tracker.legacy.hpp
  modules/tracking/src/legacy/trackerCSRT.legacy.hpp
  modules/tracking/src/legacy/trackerKCF.legacy.hpp
  modules/tracking/src/onlineMIL.cpp
  modules/tracking/src/tracker.cpp
  modules/tracking/src/trackerBoosting.cpp
  modules/tracking/src/trackerFeature.cpp
  modules/tracking/src/trackerFeatureSet.cpp
  modules/tracking/src/trackerMIL.cpp
  modules/tracking/src/trackerMILModel.cpp
  modules/tracking/src/trackerMILModel.hpp
  modules/tracking/src/trackerMIL_legacy.cpp
  modules/tracking/src/trackerModel.cpp
  modules/tracking/src/trackerSampler.cpp
  modules/tracking/src/trackerSamplerAlgorithm.cpp
  modules/tracking/src/trackerStateEstimator.cpp
  modules/tracking/test/test_trackers.cpp
Labels: category: tracking

#2755 sfm: fix build in non-C++11 mode
  modules/sfm/src/libmv_light/libmv/base/vector.h
Labels: bug, category: build/install, category: sfm

#2713 Tbmr features (purely topological adaptation on MSER)
  modules/xfeatures2d/doc/xfeatures2d.bib
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/src/msd.cpp
  modules/xfeatures2d/src/msd_pyramid.hpp
  modules/xfeatures2d/src/tbmr.cpp
  modules/xfeatures2d/test/test_features2d.cpp
  modules/xfeatures2d/test/test_keypoints.cpp
Labels: category: xfeatures2d, feature

#2758 fix: VS compatibility with unicode strings
  modules/cvv/src/stfl/stringutils.cpp
Labels: category: build/install, category: cvv

#2671 Color Calibration Algorithm Implementation Revised
  modules/mcc/CMakeLists.txt
  modules/mcc/include/opencv2/mcc.hpp
  modules/mcc/include/opencv2/mcc/ccm.hpp
  modules/mcc/samples/color_correction_model.cpp
  modules/mcc/src/ccm.cpp
  modules/mcc/src/color.cpp
  modules/mcc/src/color.hpp
  modules/mcc/src/colorspace.cpp
  modules/mcc/src/colorspace.hpp
  modules/mcc/src/distance.cpp
  modules/mcc/src/distance.hpp
  modules/mcc/src/io.cpp
  modules/mcc/src/io.hpp
  modules/mcc/src/linearize.cpp
  modules/mcc/src/linearize.hpp
  modules/mcc/src/operations.cpp
  modules/mcc/src/operations.hpp
  modules/mcc/src/utils.cpp
  modules/mcc/src/utils.hpp
  modules/mcc/test/test_ccm.cpp
  modules/mcc/test/test_precomp.hpp
  modules/mcc/tutorials/basic_ccm/color_correction_model.markdown
  modules/mcc/tutorials/table_of_content_ccm.markdown
Labels: category: mcc, feature

#2751 Add depth_factor argument in rescaleDepth and typedef dynafu::Params for backwards compatibility
  modules/rgbd/include/opencv2/rgbd/depth.hpp
  modules/rgbd/include/opencv2/rgbd/dynafu.hpp
  modules/rgbd/src/utils.cpp
Labels: category: rgbd

#2762 fix tutorials doc: not display pictures by default
  modules/viz/tutorials/transformations/transformations.markdown
Labels: category: documentation, category: viz

#2764 (4.x) build: Xcode 12 support
  modules/intensity_transform/src/bimef.cpp
  modules/rgbd/src/submap.hpp
  modules/sfm/src/libmv_light/CMakeLists.txt
Labels: category: build/install
