Repository opencv/opencv_contrib, pull requests merged in 2020-04, with the labels that each got.

#2487 rapid: bugfix & sample
  modules/rapid/samples/track_marker.py
  modules/rapid/src/rapid.cpp
Labels: bug, category: rapid, category: samples

#2491 ximgproc: [niBlackThreshold] add R parameter for Sauvola's method
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/src/niblack_thresholding.cpp
  modules/ximgproc/test/test_niblack_threshold.cpp
Labels: category: ximgproc, feature, test

#2494 fix runtime error of test case redefinition
  modules/xfeatures2d/test/test_surf.cuda.cpp
Labels: bug, category: xfeatures2d, test

#2488 Fix popcnt errors for UWP ARM/ARM64
  modules/bgsegm/src/bgfg_gsoc.cpp
  modules/line_descriptor/src/bitops.hpp
  modules/saliency/src/BING/kyheader.hpp
Labels: category: build/install

#2498 Fixed typo in omnidir_tutorial.markdown
  modules/ccalib/tutorials/omnidir_tutorial.markdown
Labels: category: ccalib, category: documentation

#2464 Add Stroke Width Transform algorithm for Text Detection
  modules/text/doc/text.bib
  modules/text/include/opencv2/text.hpp
  modules/text/include/opencv2/text/swt_text_detection.hpp
  modules/text/samples/textdetection_swt.cpp
  modules/text/src/text_detector_swt.cpp
  modules/text/test/test_detection_swt.cpp
Labels: category: text, feature

#2504 aruco: test for singular matrix in _interpolateCornersCharucoLocalHom()
  modules/aruco/src/charuco.cpp
Labels: bug, category: aruco

#2448 BIMEF: A Bio-Inspired Multi-Exposure Fusion Framework for Low-light Image Enhancement
  modules/intensity_transform/CMakeLists.txt
  modules/intensity_transform/doc/intensity_transform.bib
  modules/intensity_transform/include/opencv2/intensity_transform.hpp
  modules/intensity_transform/misc/python/test/test_intensity_transform_bimef.py
  modules/intensity_transform/samples/intensity_transform.cpp
  modules/intensity_transform/src/bimef.cpp
  modules/intensity_transform/src/precomp.hpp
  modules/intensity_transform/test/test_intensity_transform.cpp
Labels: category: intensity_transform, feature

#2501 sift: optimization stage1
  modules/xfeatures2d/perf/perf_sift.cpp
  modules/xfeatures2d/src/sift.cpp
Labels: category: xfeatures2d, optimization

#2503 Added references to GPU median filtering algorithm
  modules/cudafilters/include/opencv2/cudafilters.hpp
  modules/cudafilters/src/cuda/median_filter.cu
Labels: category: cuda, category: documentation

#2509 Fixed the information about default values in aruco documentation
  modules/aruco/include/opencv2/aruco.hpp
Labels: bug, category: aruco, category: documentation

#2506 xfeatures2d: move SIFT to main repository
  modules/README.md
  modules/xfeatures2d/README.md
  modules/xfeatures2d/doc/xfeatures2d.bib
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/misc/python/pyopencv_sift.hpp
  modules/xfeatures2d/misc/python/shadow_sift.hpp
  modules/xfeatures2d/misc/python/test/test_sift_compatibility.py
  modules/xfeatures2d/perf/perf_sift.cpp
  modules/xfeatures2d/src/precomp.hpp
  modules/xfeatures2d/src/sift.cpp
  modules/xfeatures2d/test/test_features2d.cpp
  modules/xfeatures2d/test/test_keypoints.cpp
  modules/xfeatures2d/test/test_rotation_and_scale_invariance.cpp
Labels: category: xfeatures2d

#2035 Fixed mismatch
  modules/ximgproc/include/opencv2/ximgproc.hpp
Labels: category: documentation, category: ximgproc

#2518 dnn_objdetect: remove highgui header from core_detect.hpp
  modules/dnn_objdetect/include/opencv2/core_detect.hpp
Labels: category: build/install
