Repository opencv/opencv_contrib, pull requests merged in 2020-01, with the labels that each got.

#2398 Fix order of createTonemapDurand arguments
  modules/xphoto/include/opencv2/xphoto/tonemap.hpp
  modules/xphoto/test/test_hdr.cpp
Labels: bug, category: xphoto

#2403 core(SIMD): allow to build modules with SIMD emulator
  modules/optflow/src/sparse_matching_gpc.cpp
  modules/xphoto/src/learning_based_color_balance.cpp
Labels: category: build/install

#2410 Fixed KinFu getCloud() at empty volume
  modules/rgbd/src/tsdf.cpp
Labels: category: rgbd

#2385 Fixes error occurs in cv::ppf_match_3d::ICP::registerModelToScene()
  modules/surface_matching/src/icp.cpp
Labels: bug, category: surface_matching

#2396 Add python bindings to cudaobjdetect, cudawarping and cudaarithm
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/cudaarithm/misc/python/test/test_cudaarithm.py
  modules/cudabgsegm/include/opencv2/cudabgsegm.hpp
  modules/cudabgsegm/misc/python/test/test_cudabgsegm.py
  modules/cudacodec/misc/python/test/test_cudacodec.py
  modules/cudafeatures2d/include/opencv2/cudafeatures2d.hpp
  modules/cudafeatures2d/misc/python/test/test_cudafeatures2d.py
  modules/cudafilters/misc/python/test/test_cudafilters.py
  modules/cudaimgproc/misc/python/test/test_cudaimgproc.py
  modules/cudaimgproc/src/mssegmentation.cpp
  modules/cudaobjdetect/include/opencv2/cudaobjdetect.hpp
  modules/cudaobjdetect/misc/python/test/test_cudaobjdetect.py
  modules/cudawarping/include/opencv2/cudawarping.hpp
  modules/cudawarping/misc/python/test/test_cudawarping.py
  modules/xfeatures2d/include/opencv2/xfeatures2d/cuda.hpp
  modules/xfeatures2d/misc/python/test/test_cuda_xfeatures2d.py
  modules/xfeatures2d/src/surf.cuda.cpp
Labels: category: cuda, category: python bindings, feature, test

#2399 new module: intensity_transform
  modules/intensity_transform/CMakeLists.txt
  modules/intensity_transform/README.md
  modules/intensity_transform/doc/intensity_transform.bib
  modules/intensity_transform/include/opencv2/intensity_transform.hpp
  modules/intensity_transform/samples/intensity_transform.cpp
  modules/intensity_transform/src/intensity_transform.cpp
  modules/intensity_transform/src/precomp.hpp
  modules/intensity_transform/test/test_intensity_transform.cpp
  modules/intensity_transform/test/test_main.cpp
  modules/intensity_transform/test/test_precomp.hpp
Labels: category: intensity_transform, new module

#2382 [Multi TLD] Removed early exit in case of sampling failure
  modules/tracking/src/multiTracker.cpp
Labels: bug, category: tracking
