Repository opencv/opencv_contrib, pull requests merged in 2020-10, with the labels that each got.

#2694 ovis: update camera drawing to new Ogre API
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis, feature

#2696 Fix issue 2691
  modules/rgbd/src/tsdf.cpp
Labels: bug, category: rgbd

#2664 Add calib3d module to Julia binding
  modules/julia/CMakeLists.txt
  modules/julia/README.md
  modules/julia/gen/binding_templates_cpp/cv_core.cpp
  modules/julia/gen/cpp_files/jlcv.hpp
  modules/julia/gen/defval.txt
  modules/julia/gen/funclist.csv
  modules/julia/gen/gen3_julia_cxx.py
  modules/julia/gen/gen_all.py
  modules/julia/gen/typemap.txt
  modules/julia/samples/chessboard_corners.jl
  modules/julia/tutorials/julia.markdown
Labels: category: bindings julia

#2690 Fixed a typo
  modules/rgbd/include/opencv2/rgbd/depth.hpp
Labels: category: documentation, category: rgbd

#2619 [GSoC] Add Submaps and PoseGraph optimization for Large Scale Depth Fusion
  modules/rgbd/CMakeLists.txt
  modules/rgbd/include/opencv2/rgbd.hpp
  modules/rgbd/include/opencv2/rgbd/dynafu.hpp
  modules/rgbd/include/opencv2/rgbd/kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/large_kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/volume.hpp
  modules/rgbd/samples/dynafu_demo.cpp
  modules/rgbd/samples/io_utils.hpp
  modules/rgbd/samples/kinfu_demo.cpp
  modules/rgbd/samples/large_kinfu_demo.cpp
  modules/rgbd/src/dynafu.cpp
  modules/rgbd/src/fast_icp.cpp
  modules/rgbd/src/fast_icp.hpp
  modules/rgbd/src/hash_tsdf.cpp
  modules/rgbd/src/hash_tsdf.hpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/large_kinfu.cpp
  modules/rgbd/src/pose_graph.cpp
  modules/rgbd/src/pose_graph.hpp
  modules/rgbd/src/sparse_block_matrix.hpp
  modules/rgbd/src/submap.hpp
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf.hpp
  modules/rgbd/src/utils.hpp
  modules/rgbd/src/volume.cpp
Labels: GSoC, category: rgbd, feature

#2698 New HashTSDF implementation
  modules/rgbd/src/hash_tsdf.cpp
  modules/rgbd/src/hash_tsdf.hpp
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf_functions.cpp
  modules/rgbd/src/tsdf_functions.hpp
Labels: category: rgbd

#2722 Tsdf integrate replacement
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf.hpp
Labels: category: rgbd

#2716 Added edge input feature to fast_line_detector
  modules/ximgproc/include/opencv2/ximgproc/fast_line_detector.hpp
  modules/ximgproc/samples/fld_lines.cpp
  modules/ximgproc/src/fast_line_detector.cpp
  modules/ximgproc/test/test_fld.cpp
Labels: category: ximgproc, feature

#2725 integrateVolumeUnit fix
  modules/rgbd/src/hash_tsdf.cpp
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf_functions.cpp
  modules/rgbd/src/tsdf_functions.hpp
Labels: category: rgbd

#2728 optflow(rlof): fix uninitialized variable
  modules/optflow/src/rlof/berlof_invoker.hpp
Labels: bug, category: optflow

#2730 Fix build failure in rgbd's test
  modules/rgbd/test/test_dynafu.cpp
Labels: category: build/install, category: rgbd
