Repository opencv/opencv_contrib, pull requests merged in 2020-09, with the labels that each got.

#2651 ovis: streamline updating texture contents
  modules/ovis/include/opencv2/ovis.hpp
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#2620 Bounding box fixes for GOTURN tracker
  modules/tracking/include/opencv2/tracking/tracker.hpp
  modules/tracking/src/gtrTracker.cpp
  modules/tracking/test/test_main.cpp
  modules/tracking/test/test_trackers.cpp
Labels: bug, category: tracking, test

#2659 vtkCocoaInteractorFix.mm: explicity include vtkVersion.h
  modules/viz/src/vtk/vtkCocoaInteractorFix.mm
Labels: category: build/install, category: viz

#2657 ximgproc: add python wrappers for disparity functions
  modules/ximgproc/include/opencv2/ximgproc/disparity_filter.hpp
  modules/ximgproc/misc/python/test/test_disparity.py
  modules/ximgproc/src/disparity_filters.cpp
Labels: category: python bindings, category: ximgproc

#2666 Replace DataType in cudev with traits::Type<T>
  modules/cudev/include/opencv2/cudev/ptr2d/detail/gpumat.hpp
Labels: category: build/install, category: cuda

#2629 TSDF Optimization
  modules/rgbd/perf/perf_tsdf.cpp
  modules/rgbd/src/hash_tsdf.cpp
  modules/rgbd/src/hash_tsdf.hpp
  modules/rgbd/src/opencl/tsdf.cl
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf.hpp
  modules/rgbd/test/test_tsdf.cpp
Labels: category: rgbd, optimization

#2679 [rgbd/dynafu] Fix Windows compilation
  modules/rgbd/src/dynafu.cpp
Labels: category: build/install, category: rgbd

#2685 add throw
  modules/intensity_transform/src/bimef.cpp
Labels: bug, category: intensity_transform

#2684 freetype2: Fix 'A function call in freetype.cpp causes overflow'
  modules/freetype/src/freetype.cpp
Labels: bug, category: freetype

#2687 xfeatures2d: fix MSVS2019 build
  modules/xfeatures2d/src/stardetector.cpp
Labels: bug, category: build/install

#2678 TSDF preCalculation pixNorm
  modules/rgbd/src/opencl/tsdf.cl
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf.hpp
Labels: category: rgbd
