Repository opencv/opencv_contrib, pull requests merged in 2021-09, with the labels that each got.

#3039 ovis: fix offscreen FSAA target not being resolved
  modules/ovis/src/ovis.cpp
Labels: bug, category: ovis

#3040 rename the database names in or_mnist.cpp
  modules/datasets/src/or_mnist.cpp
Labels: bug, category: datasets, category: samples

#3024 aruco: fix subpixel coordinates in interpolateCornersCharuco
  modules/aruco/src/charuco.cpp
  modules/aruco/test/test_charucodetection.cpp
Labels: category: aruco

#3011 Add wrapper to drawCharucoDiamond
  modules/aruco/include/opencv2/aruco/charuco.hpp
  modules/aruco/misc/python/test/test_aruco.py
Labels: category: aruco

#3049 Update perf_video.cpp
  modules/cudabgsegm/perf/perf_bgsegm.cpp
  modules/cudacodec/perf/perf_video.cpp
  modules/cudacodec/test/test_video.cpp
  modules/cudalegacy/perf/perf_bgsegm.cpp
Labels: test

#3009 [GSoC] Julia - phase 2
  modules/julia/gen/cpp_files/jlcv.hpp
  modules/julia/gen/defval.txt
  modules/julia/gen/funclist.csv
  modules/julia/gen/gen3_cpp.py
  modules/julia/gen/gen3_julia_cxx.py
  modules/julia/gen/jl_cxx_files/types_conversion.jl
  modules/julia/gen/typemap.txt
  modules/julia/test/test_dnn.jl
Labels: GSoC, category: bindings julia
