Repository opencv/opencv_contrib, pull requests merged in 2021-12, with the labels that each got.

#3123 fix legacy contants
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/xobjdetect/src/lbpfeatures.cpp
  modules/xobjdetect/src/precomp.hpp
  modules/xobjdetect/src/waldboost.cpp
  modules/xobjdetect/src/wbdetector.cpp
Labels: category: build/install

#3091 Pass warping matrix as parameter instead of const memory
  modules/cudawarping/src/cuda/warp.cu
Labels: category: cuda

#3124 Fix typo
  modules/wechat_qrcode/README.md
Labels: category: wechat_qrcode

#3055 New odometry Pipeline
  modules/rgbd/samples/kinfu_demo.cpp
  modules/rgbd/src/colored_kinfu.cpp
  modules/rgbd/src/dynafu.cpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/large_kinfu.cpp
  modules/rgbd/test/test_colored_kinfu.cpp
  modules/rgbd/test/test_kinfu.cpp
  modules/structured_light/test/test_plane.cpp
Labels: category: rgbd

#3121 rgbd: colored kinfu - allow fetching colors for pointcloud
  modules/rgbd/include/opencv2/rgbd/colored_kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/volume.hpp
  modules/rgbd/src/colored_kinfu.cpp
  modules/rgbd/src/colored_tsdf.cpp
  modules/rgbd/src/colored_tsdf.hpp
Labels: feature, category: rgbd

#3128 cmake: fix OPENGL_LIBRARIES handling
  modules/rgbd/CMakeLists.txt
Labels: category: build/install

#3098 Add automatic writing encoded video streams to disk when streaming from RTSP sources using cudacodec
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/cuvid_video_source.cpp
  modules/cudacodec/src/cuvid_video_source.hpp
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/src/ffmpeg_video_source.hpp
  modules/cudacodec/src/frame_queue.cpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.cpp
  modules/cudacodec/src/video_parser.hpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/src/video_source.cpp
  modules/cudacodec/src/video_source.hpp
  modules/cudacodec/test/test_video.cpp
Labels: feature, category: cuda

#3130 EdgeDrawing: Add output of segment index for line detection
  modules/ximgproc/include/opencv2/ximgproc/edge_drawing.hpp
  modules/ximgproc/src/edge_drawing.cpp
Labels: feature, category: ximgproc

#3132 Prefiltering for cuda::stereoBM
  modules/cudastereo/src/cuda/stereobm.cu
  modules/cudastereo/src/stereobm.cpp
  modules/cudastereo/test/test_stereo.cpp
Labels: feature, category: cuda

#3081 Uniqueness ratio support for cuda::StereoBM
  modules/cudastereo/perf/perf_stereo.cpp
  modules/cudastereo/src/cuda/stereobm.cu
  modules/cudastereo/src/stereobm.cpp
  modules/cudastereo/test/test_stereo.cpp
Labels: category: cuda

#3126 Update ArUco tutorial
  modules/aruco/CMakeLists.txt
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/include/opencv2/aruco/dictionary.hpp
  modules/aruco/samples/aruco_samples_utility.hpp
  modules/aruco/samples/calibrate_camera.cpp
  modules/aruco/samples/calibrate_camera_charuco.cpp
  modules/aruco/samples/create_board.cpp
  modules/aruco/samples/create_board_charuco.cpp
  modules/aruco/samples/create_marker.cpp
  modules/aruco/samples/detect_board.cpp
  modules/aruco/samples/detect_board_charuco.cpp
  modules/aruco/samples/detect_diamonds.cpp
  modules/aruco/samples/detect_markers.cpp
  modules/aruco/samples/detector_params.yml
  modules/aruco/samples/tutorial_camera_charuco.yml
  modules/aruco/samples/tutorial_camera_params.yml
  modules/aruco/samples/tutorial_charuco_create_detect.cpp
  modules/aruco/samples/tutorial_dict.yml
  modules/aruco/src/aruco.cpp
  modules/aruco/src/dictionary.cpp
  modules/aruco/test/test_arucodetection.cpp
  modules/aruco/test/test_charucodetection.cpp
  modules/aruco/test/test_main.cpp
  modules/aruco/tutorials/aruco_board_detection/aruco_board_detection.markdown
  modules/aruco/tutorials/aruco_calibration/aruco_calibration.markdown
  modules/aruco/tutorials/aruco_calibration/images/img_00.jpg
  modules/aruco/tutorials/aruco_calibration/images/img_01.jpg
  modules/aruco/tutorials/aruco_calibration/images/img_02.jpg
  modules/aruco/tutorials/aruco_calibration/images/img_03.jpg
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
  modules/aruco/tutorials/aruco_faq/aruco_faq.markdown
  modules/aruco/tutorials/charuco_detection/charuco_detection.markdown
  modules/aruco/tutorials/charuco_detection/images/chaxis.jpg
  modules/aruco/tutorials/charuco_detection/images/chaxis.png
  modules/aruco/tutorials/charuco_detection/images/chcorners.jpg
  modules/aruco/tutorials/charuco_detection/images/chcorners.png
  modules/aruco/tutorials/charuco_detection/images/chocclusion.jpg
  modules/aruco/tutorials/charuco_detection/images/chocclusion.png
  modules/aruco/tutorials/charuco_detection/images/chocclusion_original.jpg
  modules/aruco/tutorials/charuco_detection/images/choriginal.jpg
  modules/aruco/tutorials/charuco_detection/images/choriginal.png
  modules/aruco/tutorials/charuco_diamond_detection/charuco_diamond_detection.markdown
Labels: feature, category: documentation, category: samples, category: aruco, test

#3134 Fixed cache initialization in cuda::stereoBM
  modules/cudastereo/src/cuda/stereobm.cu
  modules/cudastereo/test/test_stereo.cpp
Labels: category: cuda

#3135 ovis: consistently use 0..1 value range for colors
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#3137 HashTSDF fixes backported
  modules/rgbd/src/hash_tsdf.cpp
Labels: category: rgbd

#3127 New LevMarq implementation
  modules/rgbd/src/large_kinfu.cpp
  modules/rgbd/src/precomp.hpp
Labels: category: rgbd

#3139 Pass cv::VideoCaptureProperties to VideoReader FFmpeg source
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/src/ffmpeg_video_source.hpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/src/video_source.cpp
  modules/cudacodec/src/video_source.hpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda
