Repository opencv/opencv_contrib, pull requests merged in 2021-08, with the labels that each got.

#2994 [GSoC] Julia Bindings - Phase 1
  modules/julia/README.md
  modules/julia/tutorials/julia.markdown
Labels: GSoC, category: bindings julia

#3026 Rename variable name at detector_params.yml since it is differrent from c++ source code
  modules/aruco/samples/detector_params.yml
Labels: bug, category: samples, category: aruco

#3027 Update detector_params.yml
  modules/aruco/samples/detector_params.yml
Labels: category: samples, category: aruco

#3031 fix: aruco test tries to pass 2d numpy array as std::vector<int>
  modules/aruco/misc/python/test/test_aruco.py
Labels: bug, category: aruco, test, category: python bindings

#3030 build: eliminate build warnings
  modules/line_descriptor/src/LSDDetector.cpp
  modules/saliency/include/opencv2/saliency/saliencySpecializedClasses.hpp
  modules/tracking/src/trackerCSRT.cpp
  modules/tracking/src/trackerCSRTScaleEstimation.cpp
  modules/tracking/test/test_trackers.cpp
  modules/xfeatures2d/src/msd.cpp
  modules/ximgproc/src/graphsegmentation.cpp
Labels: category: build/install
