Repository opencv/opencv_contrib, pull requests merged in 2021-04, with the labels that each got.

#2900 Fix aruco _filterTooCloseCandidates
  modules/aruco/src/aruco.cpp
Labels: category: aruco

#2903 cmake: fix tracking detail headers
  modules/tracking/include/opencv2/tracking/tracking_internals.hpp
Labels: bug, category: build/install, category: tracking

#2892 Pose Graph rewritten without Ceres
  modules/rgbd/CMakeLists.txt
  modules/rgbd/include/opencv2/rgbd.hpp
  modules/rgbd/include/opencv2/rgbd/detail/pose_graph.hpp
  modules/rgbd/src/fast_icp.cpp
  modules/rgbd/src/large_kinfu.cpp
  modules/rgbd/src/nonrigid_icp.cpp
  modules/rgbd/src/pose_graph.cpp
  modules/rgbd/src/pose_graph.hpp
  modules/rgbd/src/precomp.hpp
  modules/rgbd/src/sparse_block_matrix.hpp
  modules/rgbd/src/submap.hpp
  modules/rgbd/test/test_pose_graph.cpp
Labels: category: rgbd, feature

#2313 Test ED_Lib
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/include/opencv2/ximgproc/edge_drawing.hpp
  modules/ximgproc/include/opencv2/ximgproc/fast_line_detector.hpp
  modules/ximgproc/misc/python/pyopencv_ximgproc.hpp
  modules/ximgproc/samples/edge_drawing.py
  modules/ximgproc/samples/fld_lines.cpp
  modules/ximgproc/src/edge_drawing.cpp
  modules/ximgproc/src/edge_drawing_common.hpp
  modules/ximgproc/test/test_fld.cpp
Labels: category: python bindings, category: samples, category: ximgproc, feature, test

#2882 python binding for viz
  modules/viz/include/opencv2/viz/types.hpp
  modules/viz/include/opencv2/viz/vizcore.hpp
  modules/viz/include/opencv2/viz/widgets.hpp
  modules/viz/misc/python/pyopencv_viz.impl.hpp
  modules/viz/misc/python/python_viz.hpp
  modules/viz/misc/python/test/test_viz_simple.py
  modules/viz/samples/viz_sample_01.py
  modules/viz/samples/viz_sample_02.py
  modules/viz/samples/viz_sample_03.py
  modules/viz/samples/widget_pose.cpp
Labels: category: python bindings, category: viz, feature

#2906 consider the rectangle marker in the future.
  modules/aruco/src/aruco.cpp
Labels: bug, category: aruco

#2909 Eliminate build warnings
  modules/ximgproc/src/edge_drawing.cpp
Labels: category: build/install

#2914 dnn_superres: Fix arXiv URL typos in README.md
  modules/dnn_superres/README.md
Labels: bug, category: dnn_superres, category: documentation

#2915 (3.4) ximgproc: Added edge input feature to fast_line_detector
  modules/ximgproc/include/opencv2/ximgproc/fast_line_detector.hpp
  modules/ximgproc/samples/fld_lines.cpp
  modules/ximgproc/src/fast_line_detector.cpp
  modules/ximgproc/test/test_fld.cpp
Labels: category: ximgproc, feature

#2916 wechat_qr: disable iconv dependancy for mingw
  modules/wechat_qrcode/src/zxing/zxing.hpp
Labels: bug, category: build/install, category: wechat_qrcode

#2912 Update fast_line_detector.cpp
  modules/ximgproc/include/opencv2/ximgproc/fast_line_detector.hpp
  modules/ximgproc/src/fast_line_detector.cpp
Labels: category: documentation, category: ximgproc, feature

#2920 [ximgproc::rl::createRLEImage] make 'runs' parameter as const
  modules/ximgproc/include/opencv2/ximgproc/run_length_morphology.hpp
  modules/ximgproc/src/run_length_morphology.cpp
Labels: category: ximgproc

#2922 fixing return value of python bindings for cudafeatures2d methods
  modules/cudafeatures2d/include/opencv2/cudafeatures2d.hpp
Labels: bug, category: cuda, category: python bindings

#2924 cmake: completelly disable cnn_3dobj
  modules/cnn_3dobj/CMakeLists.txt
Labels: category: build/install, category: cnn_3dobj

#2757 1D Barcode support
  modules/barcode/CMakeLists.txt
  modules/barcode/README.md
  modules/barcode/doc/barcode.bib
  modules/barcode/include/opencv2/barcode.hpp
  modules/barcode/misc/java/filelist_common
  modules/barcode/misc/java/gen_dict.json
  modules/barcode/misc/java/src/cpp/barcode_converters.cpp
  modules/barcode/misc/java/src/cpp/barcode_converters.hpp
  modules/barcode/misc/python/pyopencv_barcode.hpp
  modules/barcode/samples/barcode.cpp
  modules/barcode/src/barcode.cpp
  modules/barcode/src/decoder/abs_decoder.cpp
  modules/barcode/src/decoder/abs_decoder.hpp
  modules/barcode/src/decoder/common/hybrid_binarizer.cpp
  modules/barcode/src/decoder/common/hybrid_binarizer.hpp
  modules/barcode/src/decoder/common/super_scale.cpp
  modules/barcode/src/decoder/common/super_scale.hpp
  modules/barcode/src/decoder/common/utils.cpp
  modules/barcode/src/decoder/common/utils.hpp
  modules/barcode/src/decoder/ean13_decoder.cpp
  modules/barcode/src/decoder/ean13_decoder.hpp
  modules/barcode/src/decoder/ean8_decoder.cpp
  modules/barcode/src/decoder/ean8_decoder.hpp
  modules/barcode/src/decoder/upcean_decoder.cpp
  modules/barcode/src/decoder/upcean_decoder.hpp
  modules/barcode/src/detector/bardetect.cpp
  modules/barcode/src/detector/bardetect.hpp
  modules/barcode/src/precomp.hpp
  modules/barcode/test/test_barcode.cpp
  modules/barcode/test/test_main.cpp
  modules/barcode/test/test_precomp.hpp
  modules/barcode/test/utils.hpp
  modules/barcode/tutorials/barcode_detect_and_decode/barcode_detect_and_decode.markdown
  modules/barcode/tutorials/barcode_detect_and_decode/images/4_barcodes.jpg
  modules/barcode/tutorials/barcode_detect_and_decode/images/result.jpg
  modules/barcode/tutorials/table_of_content_barcode.markdown
Labels: category: barcode, new module

#2926 KinFu fix (iss2925)
  modules/rgbd/include/opencv2/rgbd/colored_kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/large_kinfu.hpp
  modules/rgbd/src/colored_kinfu.cpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/large_kinfu.cpp
Labels: bug, category: rgbd

#2928 cmake: fix handling of glog/gflags
  modules/sfm/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/correspondence/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/multiview/CMakeLists.txt
Labels: category: build/install, category: sfm

#2907 Edge Drawing Improvements
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/include/opencv2/ximgproc/edge_drawing.hpp
  modules/ximgproc/src/edge_drawing.cpp
  modules/ximgproc/src/edge_drawing_common.hpp
Labels: category: ximgproc, optimization

#2929 Bugfix: barcode module
  modules/barcode/misc/java/src/cpp/barcode_converters.cpp
  modules/barcode/misc/java/test/BarcodeDetectorTest.java
  modules/barcode/misc/python/test/test_barcode_detector.py
  modules/barcode/src/barcode.cpp
  modules/barcode/src/decoder/abs_decoder.cpp
  modules/barcode/src/decoder/abs_decoder.hpp
  modules/barcode/src/decoder/upcean_decoder.cpp
  modules/barcode/src/detector/bardetect.cpp
Labels: bug, category: barcode
