Repository opencv/opencv_contrib, pull requests merged in 2021-01, with the labels that each got.

#2804 rlof optflow: fix crash when no match are found
  modules/optflow/include/opencv2/optflow/rlofflow.hpp
  modules/optflow/src/rlofflow.cpp
Labels: bug, category: optflow

#2822 Minor HashTSDF bugfix
  modules/rgbd/src/hash_tsdf.cpp
Labels: bug, category: rgbd

#2807 NVIDIA_OPTICAL_FLOW_2_0_INTEGRATION
  modules/cudaoptflow/CMakeLists.txt
  modules/cudaoptflow/include/opencv2/cudaoptflow.hpp
  modules/cudaoptflow/misc/python/test/test_nvidiaopticalflow.py
  modules/cudaoptflow/perf/perf_optflow.cpp
  modules/cudaoptflow/samples/nvidia_optical_flow.cpp
  modules/cudaoptflow/samples/optical_flow.cpp
  modules/cudaoptflow/src/cuda/nvidiaOpticalFlow.cu
  modules/cudaoptflow/src/nvidiaOpticalFlow.cpp
  modules/cudaoptflow/test/test_optflow.cpp
Labels: category: cuda, feature

#2820 xfeatures2d: disable BoostDesc/VGG in case of missing data
  modules/xfeatures2d/CMakeLists.txt
  modules/xfeatures2d/src/boostdesc.cpp
  modules/xfeatures2d/src/vgg.cpp
  modules/xfeatures2d/test/test_features2d.cpp
  modules/xfeatures2d/test/test_rotation_and_scale_invariance.cpp
Labels: category: build/install, category: xfeatures2d

#2803 Implement cv::cuda::inRange (Fixes OpenCV #6295)
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/cudaarithm/misc/python/test/test_cudaarithm.py
  modules/cudaarithm/perf/perf_element_operations.cpp
  modules/cudaarithm/src/cuda/in_range.cu
  modules/cudaarithm/src/element_operations.cpp
  modules/cudaarithm/test/test_element_operations.cpp
  modules/cudev/include/opencv2/cudev/functional/functional.hpp
Labels: category: cuda, feature

#2806 added orbbec camera intrinsic parameters for kinfu demo
  modules/rgbd/samples/io_utils.hpp
Labels: category: rgbd, category: samples, feature

#2827 hopefully fixed compile error on Windows
  modules/wechat_qrcode/src/zxing/common/mathutils.hpp
Labels: bug, category: build/install

#2819 solved issue 2813
  modules/stereo/CMakeLists.txt
  modules/stereo/include/opencv2/stereo/quasi_dense_stereo.hpp
  modules/stereo/misc/python/pyopencv_stereo.hpp
  modules/stereo/misc/python/test/test_stereo.py
  modules/stereo/samples/dense_disparity.cpp
  modules/stereo/samples/sample_quasi_dense.py
  modules/stereo/src/quasi_dense_stereo.cpp
Labels: category: python bindings, category: stereo, feature

#2824 cudaoptflow: disable Optical Flow SDK when CUDA version is insufficient
  modules/cudaoptflow/CMakeLists.txt
  modules/cudaoptflow/src/cuda/nvidiaOpticalFlow.cu
  modules/cudaoptflow/src/nvidiaOpticalFlow.cpp
Labels: bug, category: build/install, category: cuda

#2836 cudaoptflow: fix build failure when CUDA >= 10.0
  modules/cudaoptflow/src/cuda/nvidiaOpticalFlow.cu
Labels: bug, category: build/install, category: cuda

#2839 Issue 2818 fix
  modules/rgbd/src/tsdf.cpp
Labels: bug, category: rgbd

#2846 adjust threshold for Jetson TX1/TX2
  modules/xfeatures2d/test/test_surf.cuda.cpp
Labels: category: xfeatures2d, test
