Repository opencv/opencv_contrib, pull requests merged in 2021-02, with the labels that each got.

#2851 ovis: also take down SceneManager when Window is deleted
  modules/ovis/src/ovis.cpp
Labels: bug, category: ovis

#2831 rgbd: get rid of kernel build failure
  modules/rgbd/src/opencl/tsdf.cl
  modules/rgbd/src/tsdf.cpp
Labels: bug, category: rgbd

#2845 deltaCIEDE2000_ fix into the MCC module
  modules/mcc/src/distance.cpp
  modules/mcc/test/test_ccm.cpp
Labels: bug, category: mcc

#2832 Resolve issue 2796 ric interpolation
  modules/ximgproc/include/opencv2/ximgproc/sparse_match_interpolator.hpp
  modules/ximgproc/misc/python/test/test_sparse_match_interpolator.py
  modules/ximgproc/src/sparse_match_interpolators.cpp
  modules/ximgproc/test/test_sparse_match_interpolator.cpp
Labels: bug, category: ximgproc

#2860 fixes #2662
  modules/alphamat/src/cm.cpp
Labels: bug, category: alphamat

#2858 rgbd: fix segmentation fault on Arm 32bit platform
  modules/rgbd/src/tsdf.cpp
Labels: bug, category: rgbd

#2853 Fix issue 2817
  modules/rgbd/src/kinfu_frame.cpp
Labels: bug, category: rgbd

#2866 ovis: also unregister SceneManager when Window is deleted
  modules/ovis/src/ovis.cpp
Labels: bug, category: ovis

#2805 Test code - GpuMatND & Mat interoperability
  modules/cudev/test/test_nd.cu
Labels: category: cuda, test

#2734 New HashTSDFVolumeGPU class
  modules/rgbd/samples/large_kinfu_demo.cpp
  modules/rgbd/src/hash_tsdf.cpp
  modules/rgbd/src/hash_tsdf.hpp
  modules/rgbd/src/large_kinfu.cpp
  modules/rgbd/src/opencl/hash_tsdf.cl
  modules/rgbd/src/opencl/tsdf.cl
  modules/rgbd/src/opencl/tsdf_functions.cl
  modules/rgbd/src/submap.hpp
  modules/rgbd/src/tsdf.cpp
  modules/rgbd/src/tsdf.hpp
  modules/rgbd/src/tsdf_functions.cpp
  modules/rgbd/src/tsdf_functions.hpp
  modules/rgbd/src/volume.cpp
  modules/rgbd/test/test_tsdf.cpp
Labels: category: rgbd, feature

#2868 Fix CUDA GoodFeaturesToTrackDetector not threadsafe bug
  modules/cudaimgproc/src/cuda/gftt.cu
  modules/cudaimgproc/src/gftt.cpp
Labels: bug, category: cuda

#2875 Fix omnidir::undistortPoints
  modules/ccalib/src/omnidir.cpp
Labels: bug, category: ccalib
