Repository opencv/opencv_contrib, pull requests merged in 2021-03, with the labels that each got.

#2869 Remove normalization in cv::stereo::QuasiDenseStereo getDisparity().
  modules/stereo/include/opencv2/stereo/quasi_dense_stereo.hpp
  modules/stereo/samples/dense_disparity.cpp
  modules/stereo/samples/sample_quasi_dense.py
  modules/stereo/src/quasi_dense_stereo.cpp
  modules/stereo/test/test_block_matching.cpp
  modules/stereo/test/test_qds_matching.cpp
Labels: bug, category: stereo

#2890 Fixed R2 returned by stereoRectify
  modules/ccalib/src/omnidir.cpp
Labels: bug, category: ccalib

#2894 ximgproc: add an assert in thinning()
  modules/ximgproc/src/thinning.cpp
Labels: bug, category: ximgproc

#2896 ovis: add software-renderer based unit testing
  modules/ovis/misc/python/test_ovis.py
Labels: category: ovis, category: python bindings, test

#2897 fix: add a safe score threshold(1E-5) to wechat_qrcode detector
  modules/wechat_qrcode/src/detector/ssd_detector.cpp
Labels: category: wechat_qrcode
