Repository opencv/opencv_contrib, pull requests merged in 2021-11, with the labels that each got.

#3090 Add Radon transform function to ximgproc
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/include/opencv2/ximgproc/radon_transform.hpp
  modules/ximgproc/perf/perf_radon_transform.cpp
  modules/ximgproc/samples/radon_transform_demo.cpp
  modules/ximgproc/samples/radon_transform_demo.py
  modules/ximgproc/src/radon_transform.cpp
  modules/ximgproc/test/test_radon_transform.cpp
Labels: feature, category: ximgproc

#3103 Fix typo
  modules/aruco/misc/pattern_generator/MarkerPrinterGUI.py
Labels: category: aruco

#3107 barcode - remove multiple color to gray conversion
  modules/barcode/src/barcode.cpp
Labels: category: barcode

#3095 Add regression test for remap in case of overflow
  modules/cudawarping/test/test_remap.cpp
Labels: category: cuda, test

#3110 julia: Determine availability based on whether the HAVE_JULIA is defined
  modules/julia/CMakeLists.txt
Labels: bug, category: build/install, category: bindings julia

#3112 ximgproc: fix delete calls in edge_drawing_common
  modules/ximgproc/src/edge_drawing_common.hpp
Labels: bug, category: ximgproc

#3120 add camera parameters for the tutorial
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
Labels: category: documentation, category: samples, category: aruco

#3113 Update color_cvt.hpp, fix a potential overflow bug in Lab2BGR func
  modules/cudev/include/opencv2/cudev/functional/detail/color_cvt.hpp
Labels: bug, category: cuda

#3093 New superpixel algorithm (F-DBSCAN)
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc.hpp
  modules/ximgproc/include/opencv2/ximgproc/scansegment.hpp
  modules/ximgproc/src/scansegment.cpp
  modules/ximgproc/test/test_scansegment.cpp
Labels: feature, category: ximgproc
