Repository opencv/opencv_contrib, pull requests merged in 2021-06, with the labels that each got.

#2967 rapid: add global optimal search implementation
  modules/rapid/doc/rapid.bib
  modules/rapid/include/opencv2/rapid.hpp
  modules/rapid/src/histogram.cpp
Labels: category: rapid, feature

#2972 Date type fixer
  modules/wechat_qrcode/src/zxing/common/unicomblock.cpp
  modules/wechat_qrcode/src/zxing/common/unicomblock.hpp
Labels: bug, category: wechat_qrcode

#2978 fuzzy: fix memleaks
  modules/fuzzy/src/fuzzy_F0_math.cpp
Labels: bug, category: fuzzy

#2973 Make aruco board ids field accessible from python
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/misc/python/test/test_aruco.py
  modules/aruco/src/aruco.cpp
Labels: category: aruco, category: python bindings, feature

#2979 julia - Fix type conversion bug
  modules/julia/gen/jl_cxx_files/types_conversion.jl
Labels: bug, category: bindings julia

#2987 Do not use = 0 for a cv::Mat.
  modules/bgsegm/src/synthetic_seq.cpp
  modules/img_hash/src/radial_variance_hash.cpp
  modules/text/src/erfilter.cpp
  modules/xfeatures2d/src/pct_signatures/pct_clusterizer.cpp
  modules/ximgproc/src/fast_line_detector.cpp
Labels: category: build/install
