Repository opencv/opencv_contrib, pull requests merged in 2022-02, with the labels that each got.

#3168 Add GpuMat::locateROI test case
  modules/cudaarithm/test/test_gpumat.cpp
Labels: bug, category: cuda, test

#3169 cmake(sfm): fix sfm static target dependencies
  modules/sfm/src/libmv_light/libmv/correspondence/CMakeLists.txt
Labels: bug, category: sfm, category: build/install

#3151 Feature/aruco speedup (rebased with 4.x)
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/perf/perf_aruco.cpp
  modules/aruco/perf/perf_main.cpp
  modules/aruco/perf/perf_precomp.hpp
  modules/aruco/samples/detector_params.yml
  modules/aruco/src/aruco.cpp
  modules/aruco/test/test_arucodetection.cpp
  modules/aruco/test/test_boarddetection.cpp
Labels: feature, category: aruco, test

#3153 Add Connected Components Labeling in CUDA
  modules/cudaimgproc/doc/cudaimgproc.bib
  modules/cudaimgproc/include/opencv2/cudaimgproc.hpp
  modules/cudaimgproc/samples/connected_components.cpp
  modules/cudaimgproc/src/connectedcomponents.cpp
  modules/cudaimgproc/src/cuda/connectedcomponents.cu
  modules/cudaimgproc/test/test_connectedcomponents.cpp
Labels: feature, category: cuda, test

#3167 Add missing stride in cuda::LinearFilter::apply - #3163
  modules/cudafilters/src/filtering.cpp
Labels: bug, category: cuda

#3166 Grammatically updated the readme
  README.md
Labels: category: documentation

#3105 fixed bad shape of markers (1x4) in several cases and added tests
  modules/aruco/src/aruco.cpp
  modules/aruco/test/test_charucodetection.cpp
Labels: bug, category: aruco, test

#3162 new Volume pipeline
  modules/rgbd/include/opencv2/rgbd/colored_kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/large_kinfu.hpp
  modules/rgbd/src/colored_kinfu.cpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/large_kinfu.cpp
Labels: feature, category: rgbd
