Repository opencv/opencv_contrib, pull requests merged in 2022-08, with the labels that each got.

#3309 Workflow on Ubuntu 14.04 for 3.4 branch
  .github/workflows/PR-3.4.yaml
Labels: CI/CD: GitHub Actions

#3311 Rename jobs in GHA for 5.x
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions

#3324 Fix CUDA mem leak in GFTT and move CUDA malloc out of critical path
  modules/cudaimgproc/src/cuda/gftt.cu
  modules/cudaimgproc/src/gftt.cpp
Labels: bug, category: cuda

#3319 build: rework psabi warning
  modules/aruco/CMakeLists.txt
  modules/ccalib/CMakeLists.txt
  modules/datasets/CMakeLists.txt
  modules/dnn_objdetect/CMakeLists.txt
  modules/dpm/CMakeLists.txt
  modules/face/CMakeLists.txt
  modules/line_descriptor/CMakeLists.txt
  modules/optflow/CMakeLists.txt
  modules/rgbd/CMakeLists.txt
  modules/text/CMakeLists.txt
  modules/tracking/CMakeLists.txt
  modules/xfeatures2d/CMakeLists.txt
  modules/ximgproc/CMakeLists.txt
  modules/xobjdetect/CMakeLists.txt
  modules/xphoto/CMakeLists.txt
Labels: category: build/install

#3329 sfm: Fix unknown uint type error in mingw
  modules/sfm/src/libmv_light/libmv/multiview/robust_estimation.h
Labels: bug, category: sfm, category: build/install

#3313 matlab: Use OpenCV_SOURCE_DIR instead of CMAKE_SOURCE_DIR to find the modules root
  modules/matlab/CMakeLists.txt
Labels: category: matlab, category: build/install

#3340 Add support for missing codecs to cudacodec
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/test/test_video.cpp
Labels: feature, category: cuda
