Repository opencv/opencv_contrib, pull requests merged in 2022-05, with the labels that each got.

#3244 Extend the interface of the ORB class
  modules/cudafeatures2d/include/opencv2/cudafeatures2d.hpp
  modules/cudafeatures2d/misc/python/test/test_cudafeatures2d.py
  modules/cudafeatures2d/src/orb.cpp
Labels: category: cuda, category: python bindings

#3241 Workflow for Github Actions to build and test OpenCV on Linux for 3.4
  .github/workflows/PR-3.4-U20.yaml
Labels: CI/CD: GitHub Actions

#3242 Workflow for Github Actions to build and test OpenCV on Linux for 4.x
  .github/workflows/PR-4.x-U20.yaml
Labels: CI/CD: GitHub Actions

#3253 build: GCC12 warnings
  modules/surface_matching/src/pose_3d.cpp
Labels: bug, category: surface_matching, category: build/install

#3257 Move workflows to a dedicated repository for 3.4 branch
  .github/workflows/PR-3.4-U20.yaml
  .github/workflows/PR-3.4.yaml
Labels: CI/CD: GitHub Actions

#3258 Move workflows to a dedicated repository for 4.x branch
  .github/workflows/PR-4.x-U20.yaml
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions

#3259 Move workflows to a dedicated repository for 5.x branch
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions

#3265 Update video_reader.cpp
  modules/cudacodec/src/video_reader.cpp
Labels: category: cuda

#3248 Force VideoReader to decode all YUV video formats to NV12
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/test/test_video.cpp
Labels: feature, category: cuda

#3264 update python samples
  modules/stereo/samples/sample_quasi_dense.py
  modules/tracking/samples/multitracker.py
  modules/tracking/samples/tracker.py
  modules/wechat_qrcode/samples/qrcode.py
  modules/ximgproc/samples/dericheSample.py
  modules/ximgproc/samples/radon_transform_demo.py
  samples/python2/seeds.py
Labels: category: samples, category: python bindings

#3243 Use ceres::Manifolds instead of ceres::LocalParameterization.
  modules/sfm/src/libmv_light/libmv/simple_pipeline/bundle.cc
Labels: category: sfm, category: build/install
