Repository opencv/opencv_contrib, pull requests merged in 2022-11, with the labels that each got.

#3285 make CVV module work with Qt6
  modules/cvv/CMakeLists.txt
  modules/cvv/src/qtutil/matchview/matchscene.cpp
  modules/cvv/src/qtutil/matchview/singlecolorkeypointpen.cpp
  modules/cvv/src/qtutil/matchview/singlecolormatchpen.cpp
  modules/cvv/src/qtutil/matchview/zoomableproxyobject.cpp
  modules/cvv/src/qtutil/zoomableimage.cpp
  modules/cvv/src/qtutil/zoomableimage.hpp
  modules/cvv/src/stfl/stfl_engine.hpp
Labels: feature, category: cvv, category: build/install

#3380 Fix opencv issue #22721
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/video_writer.cpp
Labels: category: build/install, category: cuda

#3381 Update cudacodec to build against Nvidia Video Codec SDK 12
  modules/cudacodec/src/NvEncoder.cpp
  modules/cudacodec/src/NvEncoder.h
Labels: feature, category: cuda

#3382 Volume interface, etc: compilation fix
  modules/rgbd/src/large_kinfu.cpp
Labels: category: rgbd
