Repository opencv/opencv_contrib, pull requests merged in 2022-03, with the labels that each got.

#3185 Use texture Object to make cv::cuda::HoughSegmentDetectorImpl::detect() thread-safe
  modules/cudaimgproc/src/cuda/hough_segments.cu
  modules/cudaimgproc/src/hough_segments.cpp
  modules/cudaimgproc/test/test_hough.cpp
Labels: bug, category: cuda, test

#3181 bug-fix (edge_drawing.cpp)
  modules/ximgproc/src/edge_drawing.cpp
  modules/ximgproc/test/test_fld.cpp
Labels: bug, category: ximgproc

#3191 Added 32FC1 type support and mask to cuda::meanStdDev implementation
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/cudaarithm/src/reductions.cpp
  modules/cudaarithm/test/test_reductions.cpp
Labels: feature, category: cuda, test

#3196 Expose cudacodec::VideoReader::format() to python bindings
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/misc/python/test/test_cudacodec.py
Labels: feature, category: cuda, category: python bindings

#3186 fix CORNER REFINE CONTOUR
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/src/aruco.cpp
Labels: bug, category: aruco

#3174 Fix objPoints order in GridBoard and CharucoBoard
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/include/opencv2/aruco/charuco.hpp
  modules/aruco/samples/calibrate_camera.cpp
  modules/aruco/samples/calibrate_camera_charuco.cpp
  modules/aruco/samples/detect_board.cpp
  modules/aruco/samples/detect_board_charuco.cpp
  modules/aruco/samples/detect_diamonds.cpp
  modules/aruco/samples/detect_markers.cpp
  modules/aruco/samples/tutorial_charuco_create_detect.cpp
  modules/aruco/src/aruco.cpp
  modules/aruco/src/charuco.cpp
  modules/aruco/test/test_aruco_utils.hpp
  modules/aruco/test/test_boarddetection.cpp
  modules/aruco/test/test_charucodetection.cpp
  modules/aruco/tutorials/aruco_board_detection/aruco_board_detection.markdown
  modules/aruco/tutorials/aruco_board_detection/images/gbaxis.jpg
  modules/aruco/tutorials/aruco_board_detection/images/gbaxis.png
  modules/aruco/tutorials/aruco_board_detection/images/gbmarkersaxis.jpg
  modules/aruco/tutorials/aruco_board_detection/images/gbmarkersaxis.png
  modules/aruco/tutorials/aruco_board_detection/images/singlemarkersaxes.jpg
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
  modules/aruco/tutorials/aruco_detection/images/singlemarkersaxes.jpg
  modules/aruco/tutorials/charuco_detection/charuco_detection.markdown
  modules/aruco/tutorials/charuco_detection/images/chaxis.jpg
  modules/aruco/tutorials/charuco_diamond_detection/charuco_diamond_detection.markdown
  modules/aruco/tutorials/charuco_diamond_detection/images/diamondsaxis.jpg
  modules/aruco/tutorials/charuco_diamond_detection/images/diamondsaxis.png
Labels: bug, category: aruco, test

#3201 fix search for one contour in _filterTooCloseCandidates()
  modules/aruco/src/aruco.cpp
  modules/aruco/test/test_arucodetection.cpp
  modules/aruco/test/test_charucodetection.cpp
Labels: bug, category: aruco, test

#3211 Fix cuda::minMax and cuda::minMaxLoc python bindings
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/cudaarithm/misc/python/test/test_cudaarithm.py
Labels: bug, category: cuda, test, category: python bindings

#3209 Set higher minimum number of decode surfaces when creating cv::cudacodec::VideoReader
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.cpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/test/test_video.cpp
Labels: feature, category: cuda
