Repository opencv/opencv_contrib, pull requests merged in 2022-06, with the labels that each got.

#3256 fix axes and docs
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/src/aruco.cpp
  modules/aruco/test/test_charucodetection.cpp
  modules/aruco/tutorials/aruco_board_detection/images/singlemarkersaxes2.jpg
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
Labels: category: documentation, category: aruco

#3247 Add RTSP features to cudacodec::VideoReader
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/frame_queue.cpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_parser.cpp
  modules/cudacodec/src/video_parser.hpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/test/test_video.cpp
Labels: feature, category: cuda

#3266 remove const from functions returning by value
  modules/bioinspired/include/opencv2/bioinspired/retina.hpp
  modules/bioinspired/include/opencv2/bioinspired/transientareassegmentationmodule.hpp
  modules/bioinspired/src/retina.cpp
  modules/bioinspired/src/retina_ocl.cpp
  modules/bioinspired/src/retina_ocl.hpp
  modules/bioinspired/src/transientareassegmentationmodule.cpp
  modules/rgbd/include/opencv2/rgbd/colored_kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/dynafu.hpp
  modules/rgbd/include/opencv2/rgbd/kinfu.hpp
  modules/rgbd/include/opencv2/rgbd/large_kinfu.hpp
  modules/rgbd/src/colored_kinfu.cpp
  modules/rgbd/src/dynafu.cpp
  modules/rgbd/src/kinfu.cpp
  modules/rgbd/src/large_kinfu.cpp
  modules/xfeatures2d/src/msd_pyramid.hpp
Labels: category: build/install

#3267 Fix cudacodec and cudastereo python bindings
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/misc/python/test/test_cudacodec.py
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/test/test_video.cpp
  modules/cudastereo/include/opencv2/cudastereo.hpp
  modules/cudastereo/misc/python/test/test_cudastereo.py
Labels: category: cuda, category: python bindings

#3269 aruco: fix missing solvePnP parameter, build warning
  modules/aruco/src/aruco.cpp
Labels: bug, category: aruco

#3272 Fix compilation because of pointer/int comparison.
  modules/cudastereo/src/cuda/stereobm.cu
Labels: category: build/install, category: cuda

#3271 Fix ovis module building error with OGRE 1.12.9
  modules/ovis/src/ovis.cpp
Labels: category: build/install, category: ovis

#3274 Fix ceres manifold build
  modules/sfm/src/libmv_light/libmv/simple_pipeline/bundle.cc
Labels: bug, category: sfm, category: build/install

#3284 aruco: fix solvePnP parameters
  modules/aruco/src/aruco.cpp
Labels: bug, category: aruco

#3288 freetype: support 8UC1/8UC4 image
  modules/freetype/include/opencv2/freetype.hpp
  modules/freetype/src/freetype.cpp
  modules/freetype/test/test_basic.cpp
  modules/freetype/test/test_main.cpp
  modules/freetype/test/test_precomp.hpp
  modules/freetype/test/test_putText.cpp
Labels: feature, category: freetype

#3277 Add BAD descriptor to xfeatures2d module
  modules/xfeatures2d/README.md
  modules/xfeatures2d/doc/xfeatures2d.bib
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/perf/perf_teblid.cpp
  modules/xfeatures2d/src/beblid.cpp
  modules/xfeatures2d/src/beblid.p256.hpp
  modules/xfeatures2d/src/beblid.p512.hpp
  modules/xfeatures2d/src/teblid.p256.hpp
  modules/xfeatures2d/src/teblid.p512.hpp
  modules/xfeatures2d/test/test_features2d.cpp
  modules/xfeatures2d/test/test_rotation_and_scale_invariance.cpp
Labels: feature, category: xfeatures2d

#3296 Allow new glog in SFM CMake Project
  modules/sfm/CMakeLists.txt
Labels: feature, category: sfm, category: build/install
