Repository opencv/opencv_contrib, pull requests merged in 2022-09, with the labels that each got.

#3331 Set window_size to 1 if round down results in 0 for barcodes
  modules/barcode/src/detector/bardetect.cpp
Labels: category: barcode

#3323 Use T as temp var type in polyanticlockwise()
  modules/mcc/src/common.cpp
  modules/mcc/src/common.hpp
Labels: category: mcc

#3334 sfm: Fix redefinition error in 32 bit mingw-w64 environment
  modules/sfm/src/libmv_light/libmv/numeric/numeric.h
Labels: category: build/install

#3289 fix output qr corners
  modules/wechat_qrcode/src/decodermgr.cpp
  modules/wechat_qrcode/src/decodermgr.hpp
  modules/wechat_qrcode/src/wechat_qrcode.cpp
  modules/wechat_qrcode/test/test_qrcode.cpp
Labels: test, category: wechat_qrcode

#3346 fix aruco: build warnings (MSVS 2015)
  modules/aruco/src/aruco_detector.cpp
  modules/aruco/src/charuco.cpp
  modules/aruco/test/test_boarddetection.cpp
Labels: bug, category: build/install, category: aruco

#3347 fix wechat: build warnings (MSVS 2015)
  modules/wechat_qrcode/test/test_qrcode.cpp
Labels: category: build/install, category: wechat_qrcode

#3350 remove upscale from wechat
  modules/wechat_qrcode/src/wechat_qrcode.cpp
  modules/wechat_qrcode/test/test_qrcode.cpp
Labels: test, category: wechat_qrcode

#3355 Add scaling and cropping options to `cudacodec::VideoReader`
  modules/cudacodec/CMakeLists.txt
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.cpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/test/test_precomp.hpp
  modules/cudacodec/test/test_video.cpp
Labels: feature, category: cuda

#3357 Update xfeatures2d.hpp
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/misc/python/test/test_descriptors.py
Labels: bug, category: xfeatures2d, category: python bindings

#3339 Fix memory leak in cudacodec
  modules/cudacodec/src/frame_queue.cpp
  modules/cudacodec/src/frame_queue.hpp
  modules/cudacodec/src/video_reader.cpp
Labels: bug, category: cuda

#3351 fix the bug that cannot detect multi qrcode when use_nn_detector is false
  modules/wechat_qrcode/samples/qrcode_example_without_nn.cpp
  modules/wechat_qrcode/samples/qrcode_without_nn.py
  modules/wechat_qrcode/src/decodermgr.cpp
  modules/wechat_qrcode/src/decodermgr.hpp
  modules/wechat_qrcode/src/wechat_qrcode.cpp
  modules/wechat_qrcode/src/zxing/qrcode/qrcode_reader.cpp
  modules/wechat_qrcode/src/zxing/qrcode/qrcode_reader.hpp
  modules/wechat_qrcode/src/zxing/reader.cpp
  modules/wechat_qrcode/src/zxing/reader.hpp
  modules/wechat_qrcode/test/test_qrcode.cpp
Labels: bug, feature, category: samples, category: wechat_qrcode

#3349 fix for a bug in edge_drawing.py
  modules/ximgproc/samples/edge_drawing.py
Labels: bug, category: ximgproc, category: samples
