Repository opencv/opencv_contrib, pull requests merged in 2022-12, with the labels that each got.

#3389 build: fix/eliminate MSVC warnings
  modules/ximgproc/src/find_ellipses.cpp
  modules/ximgproc/test/test_find_ellipses.cpp
Labels: category: build/install

#3383 Reset cuda runtime error code to cudasuccess on runtime failure.
  modules/cudev/include/opencv2/cudev/common.hpp
Labels: category: cuda

#3386 keep cufftPlan2d across ConvolveImpl::convolve calls
  modules/cudaarithm/src/arithm.cpp
Labels: category: cuda

#3391 4.x: Always run CUDA branch on CI.
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions

#3392 5.x: Always run CUDA branch on CI
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions

#3369 Update find ellipses
  modules/ximgproc/include/opencv2/ximgproc/find_ellipses.hpp
  modules/ximgproc/samples/find_ellipses.py
  modules/ximgproc/src/find_ellipses.cpp
Labels: category: ximgproc, category: samples

#3378 Fix CUDA texture bugs and replace all instances of CUDA texture references with texture objects
  modules/cudaarithm/src/cuda/lut.cu
  modules/cudaarithm/src/lut.hpp
  modules/cudaimgproc/src/cuda/canny.cu
  modules/cudaimgproc/src/cuda/corners.cu
  modules/cudaimgproc/src/cuda/debayer.cu
  modules/cudaimgproc/src/cuda/gftt.cu
  modules/cudaimgproc/src/cuda/hough_segments.cu
  modules/cudaimgproc/src/cuda/mean_shift.cu
  modules/cudaimgproc/src/gftt.cpp
  modules/cudaimgproc/test/test_color.cpp
  modules/cudaimgproc/test/test_hough.cpp
  modules/cudaimgproc/test/test_precomp.hpp
  modules/cudalegacy/include/opencv2/cudalegacy/NCV.hpp
  modules/cudalegacy/include/opencv2/cudalegacy/NPP_staging.hpp
  modules/cudalegacy/src/cuda/NCVBroxOpticalFlow.cu
  modules/cudalegacy/src/cuda/NCVHaarObjectDetection.cu
  modules/cudalegacy/src/cuda/NPP_staging.cu
  modules/cudalegacy/src/cuda/bm.cu
  modules/cudalegacy/test/TestHypothesesGrow.cpp
  modules/cudaobjdetect/src/cuda/hog.cu
  modules/cudaobjdetect/test/test_objdetect.cpp
  modules/cudaoptflow/src/cuda/pyrlk.cu
  modules/cudaoptflow/src/cuda/tvl1flow.cu
  modules/cudastereo/src/cuda/stereobm.cu
  modules/cudawarping/src/cuda/remap.cu
  modules/cudawarping/src/cuda/resize.cu
  modules/cudawarping/src/cuda/warp.cu
  modules/cudawarping/test/test_precomp.hpp
  modules/cudawarping/test/test_resize.cpp
  modules/cudev/include/opencv2/cudev/ptr2d/texture.hpp
  modules/cudev/include/opencv2/cudev/warp/shuffle.hpp
  modules/xfeatures2d/src/cuda/surf.cu
  modules/xfeatures2d/src/surf.cuda.cpp
Labels: category: cuda

#3397 aruco(cleanup): don't use Ptr<FileStorage>
  modules/aruco/samples/aruco_dict_utils.cpp
Labels: category: samples, category: aruco

#3396 Fix aruco tutorials
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/samples/detect_board.cpp
  modules/aruco/samples/detect_markers.cpp
  modules/aruco/tutorials/aruco_board_detection/aruco_board_detection.markdown
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
Labels: category: documentation, category: samples

#3402 Fix for Aruco Objective-C binding
  modules/aruco/misc/objc/gen_dict.json
Labels: category: aruco

#3403 Fixed SURF linkage issue without nonfree.
  modules/xfeatures2d/src/surf.cpp
Labels: bug, category: xfeatures2d, category: build/install

#3404 Fix CUDA 12.0 build errors
  modules/cudev/test/test_cvt.cu
Labels: bug, category: cuda

#3394 Move contrib charuco to main objdetect
  modules/aruco/include/opencv2/aruco.hpp
  modules/aruco/include/opencv2/aruco/charuco.hpp
  modules/aruco/misc/python/test/test_aruco.py
  modules/aruco/perf/perf_aruco.cpp
  modules/aruco/perf/perf_precomp.hpp
  modules/aruco/samples/calibrate_camera.cpp
  modules/aruco/samples/calibrate_camera_charuco.cpp
  modules/aruco/samples/create_board.cpp
  modules/aruco/samples/create_board_charuco.cpp
  modules/aruco/samples/detect_board.cpp
  modules/aruco/samples/detect_board_charuco.cpp
  modules/aruco/samples/tutorial_charuco_create_detect.cpp
  modules/aruco/src/aruco.cpp
  modules/aruco/src/charuco.cpp
  modules/aruco/test/test_aruco_utils.hpp
  modules/aruco/test/test_boarddetection.cpp
  modules/aruco/test/test_charucodetection.cpp
  modules/aruco/test/test_misc.cpp
  modules/aruco/test/test_precomp.hpp
Labels: category: aruco
