Repository opencv/opencv_contrib, pull requests merged in 2022-01, with the labels that each got.

#3145 Fix array out of range when too many line segments extracted
  modules/line_descriptor/src/binary_descriptor.cpp
Labels: bug, category: line_descriptor

#3144 Test cv::cuda::event
  modules/cudaarithm/test/test_event.cpp
Labels: category: cuda, test

#3154 https://github.com/opencv/opencv_contrib/issues/3152
  modules/xphoto/src/inpainting_fsr.impl.hpp
Labels: bug, category: xphoto

#3157 https://github.com/opencv/opencv_contrib/issues/1578
  modules/xphoto/src/inpainting.cpp
  modules/xphoto/src/photomontage.hpp
Labels: bug, category: xphoto

#3158 ovis: handle bg material change after shader genration
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#3159 improvements on EdgeDrawing
  modules/ximgproc/include/opencv2/ximgproc/edge_drawing.hpp
  modules/ximgproc/src/edge_drawing.cpp
Labels: category: ximgproc

#3148 ovis: update documentation
  modules/ovis/include/opencv2/ovis.hpp
Labels: category: documentation, category: ovis
