Repository opencv/opencv_contrib, pull requests merged in 2023-05, with the labels that each got.

#3483 Wechat qrcode perfomance tests
  modules/wechat_qrcode/perf/perf_main.cpp
  modules/wechat_qrcode/perf/perf_precomp.hpp
  modules/wechat_qrcode/perf/perf_wechat_qrcode_pipeline.cpp
Labels: category: wechat_qrcode

#3485 Promote cv::VideoCapture properties in VideoReader
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/test/test_video.cpp
Labels: bug, category: cuda

#3464 moved aruco_dict_utils.cpp from opencv_contrib to opencv
  modules/aruco/samples/aruco_dict_utils.cpp
Labels: category: samples

#3482 barcode perf tests
  modules/barcode/perf/perf_barcode.cpp
  modules/barcode/perf/perf_main.cpp
  modules/barcode/perf/perf_precomp.hpp
Labels: test, category: barcode
