Repository opencv/opencv_contrib, pull requests merged in 2023-07, with the labels that each got.

#3524 Add Ubuntu 22.04 to CI.
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions

#3477 `cudacodec::VideoReader` return luma hist from `nextFrame` if requested
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/misc/python/test/test_cudacodec.py
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_decoder.hpp
  modules/cudacodec/src/video_parser.cpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudacodec/src/video_source.cpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda

#3535 Fixed several test failures in Python tests for CUDA modules
  modules/cudacodec/misc/python/test/test_cudacodec.py
  modules/cudaoptflow/misc/python/test/test_nvidiaopticalflow.py
Labels: category: cuda, category: python bindings

#3534 fix: remove using namespace cuda from public header
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/video_decoder.hpp
Labels: category: cuda

#3533 Added Java bindings for dnn_superres module
  modules/dnn_superres/CMakeLists.txt
  modules/dnn_superres/misc/java/test/DnnSuperresTest.java
Labels: category: dnn_superres, java bindings
