Repository opencv/opencv_contrib, pull requests merged in 2023-12, with the labels that each got.

#3595 `cudaoptflow`: fix `FarnebackOpticalFlow` internal stream synchronization when used with an external CUDA stream
  modules/cudaoptflow/src/farneback.cpp
  modules/cudaoptflow/test/test_optflow.cpp
Labels: category: cuda

#3594 Binding fix for matchLOGOS with python test.
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/misc/python/test/test_descriptors.py
Labels: category: xfeatures2d, category: python bindings

#3400 `cuda`: CMake add CUDA first class language support
  modules/cudaarithm/CMakeLists.txt
  modules/cudabgsegm/CMakeLists.txt
  modules/cudacodec/CMakeLists.txt
  modules/cudafeatures2d/CMakeLists.txt
  modules/cudafilters/CMakeLists.txt
  modules/cudaimgproc/CMakeLists.txt
  modules/cudalegacy/CMakeLists.txt
  modules/cudastereo/CMakeLists.txt
  modules/cudawarping/CMakeLists.txt
  modules/cudev/test/CMakeLists.txt
  modules/hfs/CMakeLists.txt
Labels: category: cuda

#3611 Disable SUFF CUDA kenrel build by default
  modules/xfeatures2d/src/cuda/surf.cu
Labels: bug, category: cuda
