Repository opencv/opencv_contrib, pull requests merged in 2024-03, with the labels that each got.

#3647 add to mcc detect and infer test
  modules/mcc/src/checker_detector.cpp
  modules/mcc/test/test_mcc.cpp
Labels: test, category: mcc

#3695 fix aruco tests
  modules/aruco/test/test_aruco_tutorial.cpp
Labels: bug, category: aruco, test

#3698 4.x: Two simple fixes to We Chat QR Code module
  modules/wechat_qrcode/perf/perf_wechat_qrcode_pipeline.cpp
  modules/wechat_qrcode/src/decodermgr.cpp
  modules/wechat_qrcode/src/zxing/common/unicomblock.cpp
Labels: bug, category: wechat_qrcode

#3702 wechat: fix uninitialized values in tests
  modules/wechat_qrcode/src/zxing/qrcode/detector/finder_pattern_finder.cpp
  modules/wechat_qrcode/test/test_qrcode.cpp
Labels: test, category: wechat_qrcode

#3701 4.x: Fix data corruption in WeChatQRCode::impl::decode
  modules/wechat_qrcode/src/wechat_qrcode.cpp
Labels: category: wechat_qrcode

#3703 Use proper C++ types.
  modules/videostab/src/precomp.hpp
  modules/wechat_qrcode/src/zxing/common/binarizer/adaptive_threshold_mean_binarizer.cpp
  modules/xphoto/src/annf.hpp
  modules/xphoto/src/gcgraph.hpp
  modules/xphoto/src/inpainting.cpp
  modules/xphoto/src/norm2.hpp
  modules/xphoto/src/oilpainting.cpp
  modules/xphoto/src/photomontage.hpp
Labels: category: build/install

#3699 Mcc add perf tests improve performance
  modules/mcc/perf/perf_main.cpp
  modules/mcc/perf/perf_mcc.cpp
  modules/mcc/perf/perf_precomp.hpp
  modules/mcc/src/ccm.cpp
  modules/mcc/src/checker_detector.cpp
  modules/mcc/src/colorspace.cpp
  modules/mcc/src/colorspace.hpp
  modules/mcc/src/utils.cpp
  modules/mcc/src/utils.hpp
Labels: test, optimization, category: mcc

#3645 added getColorCharts()
  modules/mcc/include/opencv2/mcc/checker_model.hpp
  modules/mcc/src/checker_detector.cpp
  modules/mcc/src/checker_detector.hpp
  modules/mcc/src/checker_model.cpp
  modules/mcc/src/checker_model.hpp
Labels: feature, category: documentation, category: mcc

#3689 Faster thinning implementation
  modules/ximgproc/perf/perf_thining.cpp
  modules/ximgproc/src/thinning.cpp
Labels: category: ximgproc, optimization

#3608 Add additional image processing operators for Ascend NPU by utilizing DVPP
  modules/cannops/include/opencv2/cann.hpp
  modules/cannops/include/opencv2/cann_interface.hpp
  modules/cannops/include/opencv2/dvpp_call.hpp
  modules/cannops/misc/python/test/test_cannops.py
  modules/cannops/perf/perf_core.cpp
  modules/cannops/perf/perf_main.cpp
  modules/cannops/src/core.cpp
  modules/cannops/src/dvpp_call.cpp
  modules/cannops/src/precomp.hpp
  modules/cannops/test/test_core.cpp
  modules/cannops/test/test_main.cpp
  modules/cannops/tutorials/ascend_npu_image_processing.markdown
Labels: category: cann
