Repository opencv/opencv_contrib, pull requests merged in 2024-04, with the labels that each got.

#3713 add detectDiamonds to diamond test
  modules/aruco/test/test_aruco_tutorial.cpp
Labels: category: aruco, test

#3720 Update edge_drawing.cpp
  modules/ximgproc/src/edge_drawing.cpp
Labels: bug, category: ximgproc

#3717 cudacodec: fix #3711 (update for Nvidia Video Codec SDK 12.2)
  modules/cudacodec/src/NvEncoder.cpp
Labels: category: cuda

#3641 Camera spatial velocity computation through interaction matrix
  modules/tracking/include/opencv2/tracking/twist.hpp
  modules/tracking/src/twist.cpp
  modules/tracking/test/test_twist.cpp
Labels: category: tracking

#3724 Rename getInteractionMatrix() to computeInteractionMatrix()
  modules/tracking/doc/tracking.bib
  modules/tracking/include/opencv2/tracking/twist.hpp
  modules/tracking/src/twist.cpp
  modules/tracking/test/test_twist.cpp
Labels: category: tracking
