Repository opencv/opencv_contrib, pull requests merged in 2024-01, with the labels that each got.

#3613 Add signal module with signal resampling function
  modules/README.md
  modules/signal/CMakeLists.txt
  modules/signal/README.md
  modules/signal/include/opencv2/signal.hpp
  modules/signal/include/opencv2/signal/signal_resample.hpp
  modules/signal/perf/perf_main.cpp
  modules/signal/perf/perf_precomp.hpp
  modules/signal/perf/perf_resample.cpp
  modules/signal/src/precomp.hpp
  modules/signal/src/signal_resample.cpp
  modules/signal/test/test_main.cpp
  modules/signal/test/test_precomp.hpp
  modules/signal/test/test_signal.cpp
Labels: feature, new module, category: signal

#3616 Add imgcodecs dependency.
  modules/ccalib/CMakeLists.txt
  modules/ccalib/src/precomp.hpp
Labels: category: ccalib

#3618 `cudaimgproc`: update for CUDA 8.0 and fix out of bounds memory error in `cuda::moments`
  modules/cudaimgproc/include/opencv2/cudaimgproc.hpp
  modules/cudaimgproc/src/cuda/moments.cu
  modules/cudaimgproc/src/moments.cpp
  modules/cudaimgproc/test/test_moments.cpp
Labels: category: cuda

#3615 `cudacodec`: Enable features available with updated ffmpeg dll
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/src/video_writer.cpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda

#3620 signal: fix memory access
  modules/signal/src/signal_resample.cpp
Labels: bug, category: signal

#3624 sfm: add opencv.sfm prefix for static libraries
  modules/sfm/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/correspondence/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/multiview/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/numeric/CMakeLists.txt
  modules/sfm/src/libmv_light/libmv/simple_pipeline/CMakeLists.txt
Labels: category: sfm, category: build/install
