Repository opencv/opencv_contrib, pull requests merged in 2024-05, with the labels that each got.

#3735 ovis: force camera extent update to get correct bbox
  modules/ovis/CMakeLists.txt
  modules/ovis/samples/aruco_ar_demo.cpp
  modules/ovis/samples/aruco_ar_demo.py
  modules/ovis/src/ovis.cpp
Labels: category: ovis

#3734 Fixed Wredundant-move produced by GCC 13.2 (Ubuntu 24.04).
  modules/face/src/facemarkLBF.cpp
  modules/face/src/mace.cpp
  modules/mcc/test/test_mcc.cpp
  modules/rgbd/perf/perf_tsdf.cpp
  modules/rgbd/test/ocl/test_tsdf.cpp
  modules/rgbd/test/test_colored_kinfu.cpp
  modules/rgbd/test/test_kinfu.cpp
  modules/rgbd/test/test_tsdf.cpp
  modules/videostab/src/global_motion.cpp
  modules/ximgproc/test/test_sparse_match_interpolator.cpp
Labels: category: build/install

#3737 More warning fixes for Ubuntu 24.04.
  modules/intensity_transform/src/bimef.cpp
Labels: category: build/install, category: intensity_transform

#3738 Added Ubuntu 24.04 to regular CI.
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions

#3726 Try to Fix #3725: cudaarithm: fix the compile faiure of CUDA 12.
  modules/cudaarithm/src/reductions.cpp
Labels: category: cuda

#3623 Implement fast guided filter
  modules/ximgproc/doc/ximgproc.bib
  modules/ximgproc/include/opencv2/ximgproc/edge_filter.hpp
  modules/ximgproc/perf/perf_guided_filter.cpp
  modules/ximgproc/src/guided_filter.cpp
  modules/ximgproc/test/test_guided_filter.cpp
Labels: feature, category: ximgproc

#3742 Get code to compile with CUDA 12.4
  modules/cudaimgproc/src/histogram.cpp
Labels: category: cuda

#3743 Misc thinning fixes.
  modules/ximgproc/src/thinning.cpp
  modules/ximgproc/test/test_thinning.cpp
Labels: category: ximgproc

#3744 Added CUDA 12.4+ support
  modules/cudaarithm/src/cuda/polar_cart.cu
  modules/cudaarithm/src/cuda/split_merge.cu
  modules/cudev/include/opencv2/cudev/block/detail/reduce.hpp
  modules/cudev/include/opencv2/cudev/block/detail/reduce_key_val.hpp
  modules/cudev/include/opencv2/cudev/block/reduce.hpp
  modules/cudev/include/opencv2/cudev/grid/detail/split_merge.hpp
  modules/cudev/include/opencv2/cudev/grid/detail/transform.hpp
  modules/cudev/include/opencv2/cudev/grid/split_merge.hpp
  modules/cudev/include/opencv2/cudev/grid/transform.hpp
  modules/cudev/include/opencv2/cudev/ptr2d/glob.hpp
  modules/cudev/include/opencv2/cudev/ptr2d/zip.hpp
  modules/cudev/test/test_split_merge.cu
Labels: category: build/install, category: cuda
