Repository opencv/opencv_contrib, pull requests merged in 2024-11, with the labels that each got.

#3803 cuda - update npp calls to use the new NppStreamContext API if available
  modules/cudaarithm/src/core.cpp
  modules/cudaarithm/src/cuda/bitwise_scalar.cu
  modules/cudaarithm/src/cuda/threshold.cu
  modules/cudaarithm/src/cuda/transpose.cu
  modules/cudaarithm/src/element_operations.cpp
  modules/cudaarithm/src/reductions.cpp
  modules/cudacodec/src/video_reader.cpp
  modules/cudafilters/src/filtering.cpp
  modules/cudaimgproc/src/color.cpp
  modules/cudaimgproc/src/histogram.cpp
  modules/cudawarping/src/warp.cpp
Labels: category: cuda

#3821 Do not use forward to layer feature in WeChat to support the new dnn engine
  modules/wechat_qrcode/src/detector/ssd_detector.cpp
Labels: category: wechat_qrcode

#3818 wechat_qrcode: fix ineffective decoding retrial after inverting image
  modules/wechat_qrcode/src/zxing/qrcode/qrcode_reader.cpp
Labels: category: wechat_qrcode

#3831 `cudaimgproc`: remove incorrectly added `NppStreamHandler` from `cv::cuda:evenLevels`
  modules/cudaimgproc/src/histogram.cpp
Labels: category: cuda

#3829 getDefaultName() added
  modules/xfeatures2d/include/opencv2/xfeatures2d.hpp
  modules/xfeatures2d/src/tbmr.cpp
Labels: category: xfeatures2d

#3830 Fix: ximgproc::findEllipses modifies src image unexpectedly
  modules/ximgproc/src/find_ellipses.cpp
Labels: category: ximgproc

#3835 Fixed missing include chrono in g-api tests
  modules/gapi/test/gapi_sample_pipelines.cpp
Labels: category: gapi

#3834 Force to use dnn_supperres module to the use classic engine
  modules/dnn_superres/src/dnn_superres.cpp
Labels: category: dnn_superres
