Repository opencv/opencv_contrib, pull requests merged in 2024-12, with the labels that each got.

#3843 Get cudalegacy to compile with clang CUDA and without CUDA
  modules/cudalegacy/include/opencv2/cudalegacy.hpp
  modules/cudalegacy/src/NCV.cpp
  modules/cudalegacy/src/cuda/NCVBroxOpticalFlow.cu
  modules/cudalegacy/src/cuda/NCVHaarObjectDetection.cu
  modules/cudalegacy/src/cuda/NCVPixelOperations.hpp
  modules/cudalegacy/src/cuda/NPP_staging.cu
  modules/cudalegacy/src/cuda/needle_map.cu
  modules/cudalegacy/src/precomp.hpp
Labels: category: build/install, category: cuda

#3842 support C++20 standard
  modules/text/src/erfilter.cpp
Labels: category: text, category: build/install

#3845 FastCV Extension code for OpenCV 2ndpost-2
  modules/fastcv/include/opencv2/fastcv.hpp
  modules/fastcv/include/opencv2/fastcv/histogram.hpp
  modules/fastcv/include/opencv2/fastcv/moments.hpp
  modules/fastcv/perf/perf_bilateral.cpp
  modules/fastcv/perf/perf_histogram.cpp
  modules/fastcv/src/bilateralFilter.cpp
  modules/fastcv/src/histogram.cpp
  modules/fastcv/src/moments.cpp
  modules/fastcv/test/test_bilateral.cpp
  modules/fastcv/test/test_moments.cpp
Labels: category: fastcv

#3854 Fixed Java and Python bindings generation
  modules/fastcv/include/opencv2/fastcv/hough.hpp
  modules/fastcv/include/opencv2/fastcv/mser.hpp
  modules/fastcv/include/opencv2/fastcv/thresh.hpp
  modules/fastcv/perf/perf_mser.cpp
  modules/fastcv/src/mser.cpp
  modules/fastcv/src/thresh.cpp
  modules/fastcv/test/test_mser.cpp
Labels: category: python bindings, java bindings, category: fastcv
