Repository opencv/opencv_contrib, pull requests merged in 2024-07, with the labels that each got.

#3748 Fixed a clerical error in qrcode.py
  modules/wechat_qrcode/samples/qrcode.py
Labels: category: wechat_qrcode

#3753 also link to CUDA::cufft_static in case of BUILD_SHARED_LIBS=OFF
  modules/cudaarithm/CMakeLists.txt
Labels: category: build/install, category: cuda

#3731 supports empty kernels in cuda::SeparableLinearFilters
  modules/cudafilters/include/opencv2/cudafilters.hpp
  modules/cudafilters/src/filtering.cpp
  modules/cudafilters/test/test_filters.cpp
Labels: category: cuda

#3607 add interleaved versions of phase/cartToPolar/polarToCart
  modules/cudaarithm/include/opencv2/cudaarithm.hpp
  modules/cudaarithm/src/cuda/polar_cart.cu
  modules/cudaarithm/test/test_element_operations.cpp
  modules/cudev/include/opencv2/cudev/functional/functional.hpp
Labels: category: cuda, optimization

#3600 first proposal of cv::remap with relative displacement field (#24621,…
  modules/cudawarping/include/opencv2/cudawarping.hpp
  modules/cudawarping/src/cuda/remap.cu
  modules/cudawarping/src/remap.cpp
  modules/cudawarping/test/test_remap.cpp
Labels: category: cuda

#3771 Correct some links in the tutorials
  modules/ml/tutorials/cpp_ml/introduction_to_svm/introduction_to_svm.markdown
  modules/ml/tutorials/cpp_ml/non_linear_svms/non_linear_svms.markdown
Labels: category: documentation
