Repository opencv/opencv_contrib, pull requests merged in 2024-09, with the labels that each got.

#3784 `cudacodec`: update `VideoWriter` to correctly set the PTS inside the encapsulated video stream
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/NvEncoder.cpp
  modules/cudacodec/src/NvEncoder.h
  modules/cudacodec/src/video_writer.cpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda

#3786 C-API cleanup: removed unnecessary python adapter from ml module
  modules/ml/misc/python/pyopencv_ml.hpp
Labels: category: ml

#3490 fix(wechat_code): Modify `isnan` for compatibility with -ffast_math.
  modules/wechat_qrcode/src/zxing/zxing.hpp
Labels: category: wechat_qrcode

#3788 Fixed build error after OpenCV #26101.
  modules/bioinspired/src/retina_ocl.cpp
  modules/bioinspired/src/retinafasttonemapping.cpp
  modules/bioinspired/src/transientareassegmentationmodule.cpp
  modules/ml/src/svm.cpp
  modules/tracking/src/trackerBoostingModel.cpp
  modules/tracking/src/trackerFeature.cpp
  modules/tracking/src/trackerStateEstimator.cpp
  modules/videostab/src/frame_source.cpp
Labels: category: build/install, category: ml

#3785 Workaround for CUDA 12.6 tuple_size issue #3773.
  modules/cudaarithm/src/cuda/polar_cart.cu
Labels: category: cuda
