Repository opencv/opencv_contrib, pull requests merged in 2024-02, with the labels that each got.

#3635 updated readme for several opencv_contrib modules (done by Gary)
  modules/alphamat/README.md
  modules/aruco/README.md
  modules/line_descriptor/README.md
Labels: category: documentation

#3640 fix:3639
  modules/bioinspired/doc/retina.markdown
  modules/bioinspired/include/opencv2/bioinspired/retinafasttonemapping.hpp
  modules/bioinspired/src/retinafasttonemapping.cpp
Labels: category: bioinspired

#3643 Got rid of global mutex in Macbeth
  modules/mcc/src/checker_detector.cpp
  modules/mcc/src/precomp.hpp
Labels: category: mcc

#3401 Move Aruco tutorials and samples to main repo
  modules/aruco/CMakeLists.txt
  modules/aruco/samples/create_marker.cpp
  modules/aruco/samples/detect_markers.cpp
  modules/aruco/test/test_aruco_tutorial.cpp
  modules/aruco/tutorials/aruco_board_detection/aruco_board_detection.markdown
  modules/aruco/tutorials/aruco_board_detection/images/board.png
  modules/aruco/tutorials/aruco_board_detection/images/gbaxis.jpg
  modules/aruco/tutorials/aruco_board_detection/images/gbmarkersaxis.jpg
  modules/aruco/tutorials/aruco_board_detection/images/gbocclusion.png
  modules/aruco/tutorials/aruco_board_detection/images/gboriginal.png
  modules/aruco/tutorials/aruco_board_detection/images/singlemarkersaxes.jpg
  modules/aruco/tutorials/aruco_board_detection/images/singlemarkersaxes2.jpg
  modules/aruco/tutorials/aruco_detection/aruco_detection.markdown
  modules/aruco/tutorials/aruco_detection/images/bitsextraction1.png
  modules/aruco/tutorials/aruco_detection/images/bitsextraction2.png
  modules/aruco/tutorials/aruco_detection/images/marker23.png
  modules/aruco/tutorials/aruco_detection/images/markers.jpg
  modules/aruco/tutorials/aruco_detection/images/removeperspective.jpg
  modules/aruco/tutorials/aruco_detection/images/singlemarkersbrokenthresh.png
  modules/aruco/tutorials/aruco_detection/images/singlemarkersdetection.jpg
  modules/aruco/tutorials/aruco_detection/images/singlemarkersoriginal.jpg
  modules/aruco/tutorials/aruco_detection/images/singlemarkersrejected.jpg
  modules/aruco/tutorials/aruco_detection/images/singlemarkerssource.png
  modules/aruco/tutorials/aruco_detection/images/singlemarkersthresh.png
Labels: category: documentation, category: aruco

#3614 Enable AscendC kernel operator
  modules/cannops/CMakeLists.txt
  modules/cannops/ascendc_kernels/CMakeLists.txt
  modules/cannops/ascendc_kernels/kernel_tiling_types.h
  modules/cannops/ascendc_kernels/threshold_opencv_kernel.cpp
  modules/cannops/ascendc_kernels/vector_tiling.h
  modules/cannops/include/opencv2/ascendc_kernels.hpp
  modules/cannops/include/opencv2/cann_call.hpp
  modules/cannops/perf/perf_element_operations.cpp
  modules/cannops/src/ascend_mat.cpp
  modules/cannops/src/cann_call.cpp
  modules/cannops/src/element_operations.cpp
  modules/cannops/src/precomp.hpp
  modules/cannops/test/test_element_operations.cpp
  modules/cannops/test/test_kernel.cpp
  modules/cannops/test/test_precomp.hpp
Labels: category: cann
