Repository opencv/opencv_contrib, pull requests merged in 2025-01, with the labels that each got.

#3863 cudacodec: Split 4D function pointer array into per-surface-format arrays for GCC 8 compatibility
  modules/cudacodec/src/nvidia_surface_format_to_color_converter.cpp
Labels: category: build/install, category: cuda

#3862 xobjdetect: (5.x) fix to build world with xobjdetect
  modules/xobjdetect/CMakeLists.txt
Labels: category: xobjdetect, category: build/install

#3860 `cudacodec::VideoWriter`: Add 10 bit YUV420 and YUV444 encoding
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/ffmpeg_video_source.cpp
  modules/cudacodec/src/video_decoder.cpp
  modules/cudacodec/src/video_writer.cpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda

#3866 xFeatures2d build fix.
  modules/xfeatures2d/test/test_rotation_and_scale_invariance.cpp
Labels: category: xfeatures2d, category: build/install

#3867 `cudacodec`: Enable features available with updated ffmpeg dll
  modules/cudacodec/src/video_writer.cpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda

#3868 `cudacodec::VideoWriter` add flag for writing full range luma chroma video
  modules/cudacodec/include/opencv2/cudacodec.hpp
  modules/cudacodec/src/video_writer.cpp
  modules/cudacodec/test/test_video.cpp
Labels: category: cuda

#3876 build: suppress warning
  modules/cudalegacy/include/opencv2/cudalegacy/private.hpp
Labels: category: cuda
