Repository opencv/opencv_contrib, pull requests merged in 2025-02, with the labels that each got.

#3855 CI: update GHA pipelines
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions

#3857 CI: update GHA pipelines (5.x)
  .github/workflows/PR-5.x.yaml
Labels: CI/CD: GitHub Actions

#3881 Added missing includes to G-API
  modules/gapi/src/compiler/gislandmodel.hpp
Labels: category: build/install, category: gapi

#3880 cudacodec: fix VideoWriter version check bug introduced in #3711
  modules/cudacodec/src/NvEncoder.cpp
Labels: category: cuda

#3875 fix bugs in checker_detector.cpp after resolving conflicts from PR #3599
  modules/mcc/src/checker_detector.cpp
Labels: category: mcc

#3884 Replace deprecated tostring() with tobytes()
  modules/ml/misc/python/test/test_goodfeatures.py
Labels: category: ml
