Repository opencv/opencv_contrib, pull requests merged in 2025-09, with the labels that each got.

#3953 bgsegm: Enable __popcnt intrinsic for MSVC on ARM to fix LSBP test failure
  modules/bgsegm/src/bgfg_gsoc.cpp
Labels: category: bgsegm

#4011 Add INTER_AREA interpolation method on `resize` Doxygen string
  modules/cudawarping/include/opencv2/cudawarping.hpp
Labels: category: documentation

#4012 Fixed support for NVIDIA Codec SDK 11.x
  modules/cudacodec/src/video_writer.cpp
Labels: category: build/install, category: cuda
