Repository opencv/opencv_contrib, pull requests merged in 2025-04, with the labels that each got.

#3777 Adds support for CUDA MHT 16-bit demosaicking
  modules/cudaimgproc/src/color.cpp
  modules/cudaimgproc/src/cuda/debayer.cu
Labels: feature, category: cuda

#3916 Adding FastCV extension for normalizeLocalBox u8 and f32
  modules/fastcv/include/opencv2/fastcv/blur.hpp
  modules/fastcv/perf/perf_blur.cpp
  modules/fastcv/src/blur.cpp
  modules/fastcv/test/test_blur.cpp
Labels: feature, category: fastcv

#3923 Typo fix: KadewTraKuPong to KaewTraKulPong
  modules/bgsegm/tutorials/bgsegm_bg_subtraction/bgsegm_bg_subtraction.markdown
Labels: category: documentation

#3925 [BUG FIX] Fix DNN-based MCC checker detector's checker box alignment issue
  modules/mcc/src/checker_detector.cpp
  modules/mcc/src/checker_detector.hpp
Labels: category: mcc

#3919 Added CI pipeline with FastCV back-end.
  .github/workflows/PR-4.x.yaml
Labels: CI/CD: GitHub Actions
