Repository opencv/opencv_contrib, pull requests merged in 2025-03, with the labels that each got.

#3894 Warning fixes for FastCV module
  modules/fastcv/perf/perf_hough.cpp
  modules/fastcv/test/test_mser.cpp
Labels: category: build/install, category: fastcv

#3891 FastCV extension 3rd Post
  modules/fastcv/include/opencv2/fastcv.hpp
  modules/fastcv/include/opencv2/fastcv/arithm.hpp
  modules/fastcv/include/opencv2/fastcv/channel.hpp
  modules/fastcv/include/opencv2/fastcv/pyramid.hpp
  modules/fastcv/perf/perf_matmul.cpp
  modules/fastcv/src/arithm.cpp
  modules/fastcv/src/channel.cpp
  modules/fastcv/test/test_arithm.cpp
  modules/fastcv/test/test_channel.cpp
  modules/fastcv/test/test_pyramid.cpp
Labels: feature, category: fastcv

#3898 Fix: Restore MATLAB Module Compilation for OpenCV 4.x
  modules/matlab/CMakeLists.txt
  modules/matlab/generator/parse_tree.py
  modules/matlab/include/opencv2/matlab/bridge.hpp
Labels: category: matlab

#3908 cuda: Force C++17 Standard for CUDA targets when CUDA Toolkit >=12.8
  modules/cudev/test/CMakeLists.txt
Labels: category: cuda

#3911 [BUG FIX] Resolves inf/inf issue in MCC
  modules/mcc/src/bound_min.cpp
Labels: bug, category: mcc
