Repository opencv/opencv_contrib, pull requests merged in 2025-07, with the labels that each got.

#3969 Modified QcAllocator to store File Descriptor
  modules/fastcv/include/opencv2/fastcv/allocator.hpp
  modules/fastcv/src/allocator.cpp
Labels: category: fastcv

#3968 cudev: add -Xcompiler=/Zc:preprocessor to fix bug in CUDA 12.9
  modules/cudev/test/CMakeLists.txt
Labels: category: build/install, category: cuda

#3967 Added fastcv color conversions
  modules/fastcv/include/opencv2/fastcv.hpp
  modules/fastcv/include/opencv2/fastcv/color.hpp
  modules/fastcv/src/color.cpp
  modules/fastcv/test/test_color.cpp
Labels: feature, category: fastcv
